<div class="order-sure" *ngIf="orderDetail; else loading">
  <div class="order-sure-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-sure-address">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p *ngIf="orderDetail">
            <span style="font-size: 0.9rem;color: #848484;">{{orderDetail?.data?.addressModel?.name}}</span>
            <span style="margin-left: 1rem;font-size: 0.85rem;color: #BFBFBF;">{{orderDetail?.data?.addressModel?.phone}}</span>
          </p>
          <p style="font-size:0.75rem;color: #A4A4A4;">{{orderDetail?.data?.addressModel?.address}}</p>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </div>
  </div>
  <div class="order-sure-goods">
    <div class="weui-panel weui-panel_access commodity">
      <div class="weui-panel__hd" style="font-size: 0.85rem;color: #969696;">商品信息</div>
      <weui-infiniteloader [config]="infiniteloaderConfig">
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of orderDetail?.data?.moyaoOrderItemModels; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;" [routerLink]="['/product']" [queryParams]="{id:item.id}">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage"
                   alt="暂无">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 0.85rem;color: #8C8C8C;">
                {{item?.goods?.title}}
                <span class="pull-right" style="font-size: 0.7rem;vertical-align: bottom;color: #666666;">x{{item?.quantity}}</span>
              </p>
              <p style="
                  width: 60vw;
                  font-size: 0.8rem;
                  color: #888888;
                  overflow: hidden;
                  text-overflow:ellipsis;
                  white-space: nowrap;">{{item?.goods?.info}}</p>
              <p style="font-size: 1rem;color: #F28988;margin-top: 1vh">
                <span>￥{{item?.goods?.originalPrice}}</span>
              </p>
            </div>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-sure-bill">
    <div class="weui-cells">
      <div class="weui-cell" style="align-items: unset;">
        <div class="weui-cell__hd">
          <span>发票</span>
        </div>
        <div class="weui-cell__bd"  style="padding-left: 20px">
          <span>{{(!orderDetail?.data?.invoiceModel || orderDetail?.data?.invoiceModel?.invoiceType === 'noinvoice')?'不需要发票':''}}</span>
          <p style="color: #676767;font-size: 0.8rem">{{orderDetail?.data?.invoiceModel?.title}}</p>
          <p style="color: #676767;font-size: 0.8rem" *ngIf="orderDetail?.data?.invoiceModel?.number">{{orderDetail?.data?.invoiceModel?.number}}</p>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span>备注</span>
        </div>
        <div class="weui-cell__bd" style="text-indent: 20px;">
          <input class="weui-input" type="text" placeholder="无" name="txt" [value]="orderDetail?.data?.remark?orderDetail?.data?.remark: '无'" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-footer weui-footer_fixed-bottom" *ngIf="orderDetail?.data?.status === 'pendingPayment'">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span style="color: #858585;font-size: 0.85rem">实付</span>
        <span style="color: #F38C8C;font-size: 0.9rem">￥{{orderDetail?.data?.amount}}</span>
      </div>
      <div class="weui-flex__item" (click)="orderSureClick(orderDetail?.data?.id);">
        <span style="color: white;font-size: 0.85rem">结算</span>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
