<div class="order-sure" *ngIf="orderDetail | async as orderDetail; else loading">
  <!--{{orderDetail.data | json}}-->
  <div class="order-sure-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-sure-address">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>
            <span>{{orderDetail?.data?.addressModel?.name}}</span>
            <span style="margin-left: 4rem">{{orderDetail?.data?.addressModel?.phone}}</span>
          </p>
          <p style="font-size:0.9rem">{{orderDetail?.data?.addressModel?.address}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="order-sure-goods">
    <div class="weui-panel weui-panel_access commodity">
      <div class="weui-panel__hd" style="font-size: 1rem">商品信息</div>
      <weui-infiniteloader [config]="infiniteloaderConfig">
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of orderDetail?.data?.moyaoOrderItemModels; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage"
                   alt="暂无">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.1rem;">{{item?.goods?.title}}</p>
              <p style="font-size: 0.8rem;color: #888888;">{{item?.goods?.info}}</p>
              <p style="font-size: 1.1rem;color: #FF2D2D;margin-top: 1vh">
                <span>￥{{item?.goods?.originalPrice}}</span>
                <span class="pull-right" style="vertical-align: bottom;color: #666666;">x{{item?.quantity}}</span>
              </p>
            </div>
          </div>
          <div class="weui-total">
            <div style="padding-top: 0.3rem">
              <span>共计：</span>
              <span>￥{{orderDetail?.data?.price}}</span>
            </div>
            <div class="pull-right" style="font-size: 0.7rem">
              <p>实付￥{{orderDetail?.data?.amountPaid}}</p>
              <p>提成<span style="color: #FF2525;">￥{{orderDetail?.data?.earning}}</span></p>
            </div>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-sure-bill">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">发票</span>
        </div>
        <div class="weui-cell__ft">
          <span>{{(!orderDetail?.data?.invoiceModel || orderDetail?.data?.invoiceModel?.invoiceType === 'noinvoice')?'不需要发票':''}}</span>
          <p style="color: #676767;font-size: 0.8rem">{{orderDetail?.data?.invoiceModel?.title}}</p>
          <p style="color: #676767;font-size: 0.8rem" *ngIf="orderDetail?.data?.invoiceModel?.number">{{orderDetail?.data?.invoiceModel?.number}}</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span>备注：</span>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="无" name="txt" [value]="orderDetail?.data?.remark" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-footer weui-footer_fixed-bottom">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span style="color: #2A2A2A;font-size: 1.1rem">实付</span>
        <span style="color: #FF3535;font-size: 1.1rem">￥{{orderDetail?.data?.amountPaid}}</span>
      </div>
      <div class="weui-flex__item" (click)="orderSureClick(orderDetail?.data?.id);">
        <span style="color: white;font-size: 1.1rem">结算</span>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
