<div class="order-return" *ngIf="detailsData; else loading">
  <div class="order-return-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-return-progress">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="circle-box" *ngFor="let item of orderReturnProgress;let i = index">
          <p class="circle" [ngStyle]="
          {'background-color': item.color,
            'box-shadow': item.shadow
          }"></p>
          <p [ngStyle]="{'color': item.color}">{{item.title}}</p>
          <div
            class="line"
            *ngIf="!(i === 3)"
            [ngStyle]="{'background-color':orderReturnProgress[i+1].color}">
            <p *ngIf="item.subtitle" class="small-circle"></p>
            <p *ngIf="item.subtitle" class="small-text">等待审核</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-return-ems" *ngIf="orderReturnStatus === 'uploadVoucher'">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span class="badge" style="color: #FF4242;">*</span>
          <span style="vertical-align: middle">快递公司：</span>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text"
             placeholder="请填写快递公司名称" name="txt"
             [(ngModel)]="orderReturn.expressCompany">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span class="badge" style="color: #FF4242;">*</span>
          <span style="vertical-align: middle">运单号码：</span>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text"
             placeholder="请填写运单号码" name="txt"
                 [(ngModel)]="orderReturn.expressNum">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd" style="padding-left: 0">
          <div class="weui-uploader">
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files">
                <li class="weui-uploader__file" *ngFor="let item of uploader?.queue"
                    [weui-thumb]="item?._file"
                    (click)="onGallery(item)"
                    [ngClass]="{'weui-uploader__file_status': item?.isError}">
                  <div class="weui-uploader__file-content" *ngIf="item?.isUploading">{{item?.progress}}%</div>
                  <div class="weui-uploader__file-content" *ngIf="item?.isError">
                    <i class="weui-icon-warn"></i>
                  </div>
                  <div class="del-icon" (click)="onDel(item, $event)">一</div>
                </li>
              </ul>
              <div class="weui-uploader__input-box">
                <input class="weui-uploader__input" type="file" accept="image/*" multiple
                       [weui-uploader-file]="uploader">
              </div>
            </div>
          </div>
          <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel($event, '')"></weui-gallery>
        </div>
      </div>
    </div>
  </div>
  <div class="order-return-product">
    <div class="weui-panel weui-panel_access">
      <weui-infiniteloader [config]="ordAftScrollConfig">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p style="font-size:  0.8rem">订单号：{{detailsData?.data?.sn}}</p>
            </div>
            <div class="weui-cell__ft">
              <span style="font-size:  0.8rem;color: #C4C4C4;">{{detailsData?.data?.createdDate}}</span></div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" style="align-items: unset;" *ngFor="let item of detailsData?.data?.moyaoOrderItemModels; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1rem;color: #848484;">{{item?.goods?.title}}</p>
              <p style="font-size: 0.8rem;">{{item?.goods?.info}}</p>
              <p style="font-size: 1rem;">￥{{item?.goods?.originalPrice}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>x{{item?.quantity}}</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__ft">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <span style="color: #848484;">共计数量： {{detailsData?.data?.moyaoOrderItemModels.length}}</span>
              <p class="pull-right" style="color: #848484;">退款金额：<span style="color: #FF6464;">{{detailsData?.data?.amount}}元</span></p>
            </div>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-return-remark">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span class="badge" style="color: #FF4242;">*</span>
          <span style="vertical-align: middle">退款说明：</span>
        </div>
        <div class="weui-cell__bd">
          <input
            *ngIf="orderReturnStatus === 'pendingShipment' || orderReturnStatus === 'shipped' || orderReturnStatus === 'received' || orderReturnStatus === 'completed'"
            class="weui-input" type="text" placeholder="请填写退款原因" name="txt"
            [(ngModel)]="orderReturnRemark"
            (ngModelChange)="orderRefundRemarkChange($event)">
          <input
            *ngIf="
            orderReturnStatus === 'goodsReturnReview' ||
            orderReturnStatus === 'uploadVoucher' ||
             orderReturnStatus === 'receiveGoodsReturn' ||
             orderReturnStatus === 'goodsReturning' ||
              orderReturnStatus === 'goodsReturned'"
            class="weui-input" type="text" disabled name="txt"
            [value]="detailsData?.data?.refundRemark === undefined?'无':detailsData?.data?.refundRemark">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span style="vertical-align: middle">退款金额：</span>
        </div>
        <div class="weui-cell__bd">
          <p style="color: #FF6464;">{{detailsData?.data?.amount}}元</p>
        </div>
      </div>
      <div class="weui-cell" *ngIf="detailsData?.data?.expressCompany">
        <div class="weui-cell__hd">
          <span style="vertical-align: middle">快递公司：</span>
        </div>
        <div class="weui-cell__bd">
          <p style="color: #FF6464;">{{detailsData?.data?.expressCompany}}</p>
        </div>
      </div>
      <div class="weui-cell" *ngIf="detailsData?.data?.expressNum">
        <div class="weui-cell__hd">
          <span style="vertical-align: middle">快递单号：</span>
        </div>
        <div class="weui-cell__bd">
          <p style="color: #FF6464;">{{detailsData?.data?.expressNum }}</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd"
             *ngIf="orderReturnStatus === 'pendingShipment' || orderReturnStatus === 'shipped' || orderReturnStatus === 'received' || orderReturnStatus === 'completed'"
             style="padding-left: 0">
          <div class="weui-uploader">
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files">
                <li class="weui-uploader__file" *ngFor="let item of uploader?.queue"
                    [weui-thumb]="item?._file"
                    (click)="onGallery(item)"
                    [ngClass]="{'weui-uploader__file_status': item?.isError}">
                  <div class="weui-uploader__file-content" *ngIf="item?.isUploading">{{item?.progress}}%</div>
                  <div class="weui-uploader__file-content" *ngIf="item?.isError">
                    <i class="weui-icon-warn"></i>
                  </div>
                  <div class="del-icon" (click)="onDel(item, $event)">一</div>
                </li>
              </ul>
              <div class="weui-uploader__input-box">
                <i class="icon iconfont icon-shangchuanpingzheng1"></i>
                <input class="weui-uploader__input" type="file" accept="image/*" multiple
                       [weui-uploader-file]="uploader">
              </div>
            </div>
          </div>
          <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel($event)"></weui-gallery>
        </div>
      </div>
    </div>
  </div>
  <div class="order-return-image"
       *ngIf="
            orderReturnStatus === 'goodsReturnReview' ||
            orderReturnStatus === 'uploadVoucher' ||
             orderReturnStatus === 'receiveGoodsReturn' ||
             orderReturnStatus === 'goodsReturning' ||
              orderReturnStatus === 'goodsReturned'">
    <div class="weui-cells" style="margin-top: 0">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <img class="weui-media-box__thumb"
               *ngFor="let item of orderReturnImages"
               [src]="item"
               (click)="orderReturnGalleryImg=item;orderReturnGallery=true"
               alt="">
          <weui-gallery [imgs]="orderReturnGalleryImg" [(show)]="orderReturnGallery" [canDelete]="false"></weui-gallery>
        </div>
      </div>
    </div>
  </div>
  <div class="order-return-submit" (click)="ordRefSubClick()">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button
        *ngIf="orderReturnStatus === 'pendingShipment' || orderReturnStatus === 'shipped' || orderReturnStatus === 'received' || orderReturnStatus === 'completed'"
        class="weui-btn weui-btn_primary"
        weui-button>提交申请</button>
      <button class="weui-btn weui-btn_primary"
              *ngIf="orderReturnStatus === 'goodsReturnReview'"
              style="background-color: #FF6464"
              weui-button>撤销申请</button>
    </div>
  </div>
  <div class="order-return-toast">
    <weui-toast #mineOrderReturnToast [type]="'success'" [text]="mineOrderReturnMsg" [icon]="''" [time]="2000"></weui-toast>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
