<div class="error">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title" style="color: orangered;">为保证浏览效果，请旋转至竖屏访问！</h2>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">邻客店员系统</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2019 moyao</p>
      </div>
    </div>
  </div>
</div>
