.registered-success{
  height: 100vh;
  background: #F1F1F1;
  position: relative;
  overflow: hidden;
  .weui-msg{
    background: white;
    padding-bottom: 1px;
    margin: 15px 15px 0 15px;
    .weui-msg__text-area{
      .weui-msg__desc{
        color: #E64340;
      }
    }
  }
}
