.mine-detail-personal{
  height: 100vh;
  overflow: hidden;
  background-color: #F1F1F1;
  position: relative;
  .personal-header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5001;
  }
  .personal-detail-list {
    margin-top: 65px;
    .weui-cells {}
  }
}
