<div class="setting-mobile">
  <app-header [option]="headerOption"></app-header>
  <div *ngIf="inputToggle" class="setting-mobile-old">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">当前手机号</label></div>
        <div class="weui-cell__bd">
          <span>{{oldPhoneCodeString}}</span>
        </div>
      </div>
    </div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入验证码" [(ngModel)]="mineSetSMS">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn"
                  [weui-vcode]="onSendCodeOld"
                  weui-seconds="60"
                  weui-tpl="${num}s"
                  weui-error="重新发送">获取验证码
          </button>
        </div>
      </div>
    </div>
  </div>
  <form *ngIf="!inputToggle" #newPhoneForm="ngForm" class="setting-mobile-new" >
    <div class="weui-cells">
      <div class="weui-cell" style="padding: 18px 15px;">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" name="mobile" #mobile="ngModel" placeholder="请输入新手机号码" weui-input="mobile" weui-required [(ngModel)]="newPhone">
        </div>
      </div>
    </div>
    <div>
      <p *ngIf="mobile.touched && mobile.invalid" style="color: red;font-size: 0.8rem;padding: 5px 15px 0 15px;">请输入正确格式的手机号</p>
    </div>
    <div class="weui-cells" style="margin-top: 10px;">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" name="phoneSMS" placeholder="请输入验证码" [(ngModel)]="mineSetSMS">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn"
                  [weui-vcode]="onSendCodeNew"
                  weui-seconds="60"
                  weui-tpl="${num}s"
                  weui-error="重新发送">获取验证码
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="setting-mobile-toast">
    <weui-toast #success [text]="'修改成功'" [icon]="''" [time]="1000"></weui-toast>
  </div>
  <div class="setting-mobile-button">
    <button *ngIf="inputToggle" class="weui-btn weui-btn_primary" [ngClass]="{'weui-btn_disabled':!mineSetSMS}" [disabled]="!mineSetSMS" (click)="inputToggleClick(1)">下一步</button>
    <button *ngIf="!inputToggle" class="weui-btn weui-btn_primary" [ngClass]="{'weui-btn_disabled':!newPhone}" [disabled]="!newPhone && !mineSetSMS" (click)="inputToggleClick(2)">立即绑定</button>
  </div>
</div>
