.loading-mask{
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  .loading{
    color: #3A96FF;
    text-align: center;
    font-size: 0.8rem;
  }
}
