<div class="error-remind">
  <ng-container *ngIf="errorMsgStatus;else weixinmsg">
    <div class="weui-msg">
      <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
      </div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title" style="color: orangered;">{{errorMsg.msg}}</h2>
      </div>
      <div class="weui-msg__opr-area" *ngIf="!(errorMsg.btn === undefined)">
        <p class="weui-btn-area">
          <button *ngIf="errorMsg.url" [routerLink]="[errorMsg.url]" class="weui-btn weui-btn_primary">{{errorMsg.btn}}</button>
          <button (click)="errorResetClick()" class="weui-btn weui-btn_primary">{{errorMsg.btn}}</button>
          <button *ngIf="errorToken" [routerLink]="['/tab']" class="weui-btn weui-btn_default">返回主页</button>
        </p>
      </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">邻客店员系统</a>
          </p>
          <p class="weui-footer__text">Copyright © 2008-2019 moyao</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #weixinmsg>
    <div class="weui-msg">
      <div class="weui-msg__icon-area">
        <i class="weui-icon-info weui-icon_msg"></i>
      </div>
      <div class="weui-msg__text-area">
        <h4 class="weui-msg__title">请在微信客户端打开链接</h4>
      </div>
    </div>
  </ng-template>
</div>


