.header{
  height: 5vh;
  background: blue;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding-left: 1vw;
  padding-right:1vw;
  span{
    font-min-size: 1rem;
    line-height: 5vh;
  }
  span:nth-child(1){
    cursor: pointer;
  }
  span:nth-child(3){
    cursor: pointer;
  }
}
