.header{
  height: 50px;
  background: #E5E5E5;
  color: #4E4E4E;
  vertical-align: middle;
  padding-left: 3vw;
  padding-right:3vw;
  span{
    font-min-size: 1rem;
    line-height: 50px;
  }
  span:nth-child(1){
    cursor: pointer;
  }
  span:nth-child(2){
    margin-left: 2vw;
  }
  span:nth-child(3){
    cursor: pointer;
  }
}
