<header class="header">
  <span *ngIf="leftShow" class="pull-left" aria-hidden="true" (click)="leftClick()">
    <i [class]="option.leftContent.icon"></i>
    <span>{{option.leftContent.title}}</span>
  </span>
  <span class="header-title" (click)="centerClick()">{{option.title}}</span>
  <span *ngIf="rightShow" class="pull-right" [ngStyle]="{'color': this.option.rightContent.color}" (click)="rightClick()">
    <i [class]="option.rightContent.icon" style="font-size: 0.85rem;" aria-hidden="true"></i>
    <span style="font-size: 0.85rem;">{{option.rightContent.title}}</span>
  </span>
</header>
