.header{
  height: 50px;
  background: #fff;
  color: #4E4E4E;
  vertical-align: middle;
  padding-left: 3vw;
  padding-right:3vw;
  text-align: center;
  font-size: 1.1rem;
  position: relative;
  span{
    line-height: 50px;
  }
  .header-title{
    position: absolute;
    line-height: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
