<div class="dialog-pay">
  <div class="weui-mask">
    <div class="weui-dialog">
      <div class="weui-dialog-title">
        请设置支付密码
        <div class="t-float pull-right">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="weui-dialog-content">
        <span class="c-n" *ngFor="let item of [1,2,1,1,1,1]">5</span>
      </div>
      <div class="weui-dialog-footer">
        <button class="weui-btn weui-btn_primary">确认</button>
      </div>
    </div>
  </div>
</div>



