<div class="dialog-pay">
  <div class="weui-mask">
    <div class="weui-dialog">
      <div class="weui-dialog-title">
        {{config.title}}
        <div style="width: 2.3rem;margin-right: -0.5rem;" class="t-float pull-right" (click)="onSelfDestroy()">
          <i class="icon iconfont icon-guanbi" style="font-size: 0.7rem"></i>
        </div>
      </div>
      <div class="weui-dialog-content" (input)="onInput($event)">
        <label for="password"></label>
        <input id="password" #password type="number" name="password" maxlength="6" pattern="[0-9]*" [hidden]="inputShow" autofocus>
        <span class="c-n" *ngFor="let item of config.value" [ngStyle]="{'background': item}"></span>
      </div>
      <div class="weui-dialog-footer" *ngIf="config.btnShow">
        <button class="weui-btn weui-btn_primary" [ngClass]="!config.inputDisabled?'weui-btn_disabled': ''" (click)="onSubmit()" [disabled]="!config.inputDisabled">确认</button>
      </div>
      <div class="weui-dialog-pwd" *ngIf="config.pwdShow" [routerLink]="['/mine/setting/paypwd']">
        <div class="weui-cell__bd"></div>
        <div class="weui-cell__ft" style="font-size: 0.7rem;color: #BFBFBF;">忘记支付密码</div>
      </div>
    </div>
  </div>
</div>



