<div class="wallet-balapay">
  <div class="wallet-balapay-header">
    <app-header [option]="headerOption" (headerRightClick)="walletBalaPayTimeClick()"></app-header>
  </div>
  <div class="wallet-balapay-list" *ngIf="!(balapayList.length === 0)">
    <div class="weui-cells">
      <div class="weui-cells__title">
        <p>本月</p>
        <span>支出 ￥ 5410</span> <span> 收入 ￥ 15481.00</span>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>支付订单454545446</p>
          <p style="font-size: 0.75rem;color: #BFBFBF;">
            <span>2019-03-01 </span>
            <span>19:58:43</span>
          </p>
        </div>
        <div class="weui-cell__ft">
          <span style="color: #F38B8A;">-￥250.00</span>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>账户充值</p>
          <p style="font-size: 0.75rem;color: #BFBFBF;">
            <span>2019-03-01 </span>
            <span>19:58:43</span>
          </p>
        </div>
        <div class="weui-cell__ft">
          <span style="color: #8BBDF5;">￥150.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="wallet-balapay-remind" *ngIf="balapayList.length === 0">
    <p>暂无收支明细</p>
  </div>
</div>
