<div class=" order-refund" *ngIf="detailsData; else loading">
  <div class="order-refund-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-refund-progress">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="circle-box" *ngFor="let item of orderRefundProgress;let i = index">
          <p class="circle" [ngStyle]="
          {'background-color': item.color,
            'box-shadow': item.shadow
          }"></p>
          <p [ngStyle]="{'color': item.color,'margin-top': '10px','font-size': '0.75rem'}">{{item.title}}</p>
          <div
            *ngIf="!(i === 2)"  class="line"
            [ngStyle]="{'background-color':orderRefundProgress[i+1].color}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-refund-product">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p style="font-size:  0.8rem">订单号：{{detailsData?.data?.sn}}</p>
          </div>
          <div class="weui-cell__ft">
            <span style="font-size:  0.8rem;color: #C4C4C4;">{{detailsData?.data?.createdDate}}</span>
          </div>
        </div>
      </div>
      <div class="weui-panel__bd">
        <div class="weui-cell" style="align-items: unset;" *ngFor="let item of detailsData?.data?.moyaoOrderItemModels; let i = index">
          <div class="weui-cell__hd" style="position: relative;margin-right: 10px;" [routerLink]="['/product']" [queryParams]="{id:item.id}">
            <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage"
                 alt="">
          </div>
          <div class="weui-cell__bd">
            <p style="font-size: 1rem;color: #848484;">{{item?.goods?.title}}</p>
            <p style="
                  width: 60vw;
                  font-size: 0.8rem;
                  color: #888888;
                  overflow: hidden;
                  text-overflow:ellipsis;
                  white-space: nowrap;">{{item?.goods?.info}}</p>
            <p style="font-size: 1rem;">￥{{item?.goods?.originalPrice}}</p>
          </div>
          <div class="weui-cell__ft">
            <p>x{{item?.quantity}}</p>
          </div>
        </div>
      </div>
      <div class="weui-panel__ft" style="border-top: 1px solid #F7F7F7">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <span style="color: #848484;">共计数量： {{detailsData?.data?.moyaoOrderItemModels.length}}</span>
            <p class="pull-right" style="color: #848484;">退款金额：<span style="color: #FF6464;">{{detailsData?.data?.amount}}元</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-refund-remark">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span class="badge" style="color: #FF4242;">*</span>
          <span style="vertical-align: middle">退款说明：</span>
        </div>
        <div class="weui-cell__bd">
          <input
            *ngIf="orderRefundStatus === 'pendingShipment' || orderRefundStatus === 'shipped' || orderRefundStatus === 'received' || orderRefundStatus === 'completed'"
            class="weui-input" type="text" placeholder="请填写退款原因" name="txt"
            [(ngModel)]="orderRefundRemark"
            (ngModelChange)="orderRefundRemarkChange($event)">
          <input
            *ngIf="orderRefundStatus === 'refundReview' || orderRefundStatus === 'refundding' || orderRefundStatus === 'refundded'"
            class="weui-input" type="text" disabled name="txt"
            [value]="detailsData?.data?.refundRemark === undefined?'无':detailsData?.data?.refundRemark">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <span style="vertical-align: middle">退款金额：</span>
        </div>
        <div class="weui-cell__bd">
          <p style="color: #FF6464;">{{detailsData?.data?.amount}}元</p>
        </div>
      </div>
      <div class="weui-cell" *ngIf="
             orderRefundStatus === 'pendingShipment' ||
             orderRefundStatus === 'shipped' ||
             orderRefundStatus === 'received' ||
             orderRefundStatus === 'completed'"
           style="padding-left: 0">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files">
                <li class="weui-uploader__file" *ngFor="let item of uploader?.queue"
                    [weui-thumb]="item?._file"
                    (click)="onGallery(item)"
                    [ngClass]="{'weui-uploader__file_status': item?.isError}">
                  <div class="weui-uploader__file-content" *ngIf="item?.isUploading">{{item?.progress}}%</div>
                  <div class="weui-uploader__file-content" *ngIf="item?.isError">
                    <i class="weui-icon-warn"></i>
                  </div>
                  <div class="del-icon" (click)="onDel(item, $event)">一</div>
                </li>
              </ul>
              <div class="weui-uploader__input-box">
                <i class="icon iconfont icon-shangchuanpingzheng1" style="color: #A6A6A6;"></i>
                <input class="weui-uploader__input" type="file" accept="image/*" multiple
                       [weui-uploader-file]="uploader">
              </div>
            </div>
          </div>
          <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel($event)"></weui-gallery>
        </div>
      </div>
      <ng-container *ngIf="orderRefundImages.length !==0">
        <div class="weui-cell"  *ngIf="
       orderRefundStatus === 'refundReview' ||
        orderRefundStatus === 'refundding' ||
         orderRefundStatus === 'refundded'">
          <div class="weui-cell__bd">
            <img class="weui-media-box__thumb"
                 *ngFor="let item of orderRefundImages"
                 [src]="item"
                 (click)="orderRefundGalleryImg=item;orderRefundGallery=true"
                 alt="">
            <weui-gallery [imgs]="orderRefundGalleryImg" [(show)]="orderRefundGallery" [canDelete]="false"></weui-gallery>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="order-refund-submit">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button
        (click)="ordRefSubClick()"
        *ngIf="orderRefundStatus === 'pendingShipment' || orderRefundStatus === 'shipped' || orderRefundStatus === 'received' || orderRefundStatus === 'completed'"
        class="weui-btn weui-btn_primary"
        weui-button>提交申请</button>
      <button class="weui-btn weui-btn_primary"
        (click)="ordRefSubClick('cancel')"
        *ngIf="orderRefundStatus === 'refundReview'"
        style="background-color: #FF6464"
        weui-button>撤销申请</button>
    </div>
  </div>
  <div class="order-refund-toast">
    <weui-toast #mineOrderRefundToast [type]="'success'" [text]="mineOrderRefundMsg" [icon]="''" [time]="2000"></weui-toast>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
