.tab-order{
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #F5F5F5;
  .tab-order-address{
    padding: 0 15px;
    font-size: 1rem;
    .weui-cells{
      padding: 18px 0;
      margin-top: 10px;
      min-height: 44px;
      background-image: url(/assets/images/tab-order-bg.png);
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      background-position: center center;
      .weui-cell{
        padding: 0 15px;
      }
    }
  }
  .tab-order-goods{
    padding: 0 15px;
  }
  .tab-order-bill{
    padding: 0 15px;
    margin-bottom: 110px;
    .weui-cells{
      &:before{
        content: unset;
      }
      margin-top: -1px;
      .weui-cell{
        font-size: 0.85rem;
        color: #949494;
        &:before{
          content: unset;
        }
        .weui-cell__bd{
          .weui-input{
            &::placeholder{
              //padding-left: 20px;
              color: #D8D8D8;
            }
          }
        }
      }
    }
  }
  .tab-order-toast{
    .weui-toast {
      height: 10vh;
      line-height: 10vh;
      font-size: 0.85rem;
      min-height: 0;
      width: 80vw;
      margin-left: -40vw;
      border-radius: 5px;
      background: rgba(17, 17, 17, 0.65);
      top: 50%;
      transform: translateY(-70%);
      .weui-icon_toast{
        margin: 0;
      }
    }
  }
  .weui-footer{
    bottom: 53px;
    z-index: 999;
    .weui-flex{
      .weui-flex__item{
        height: 50px;
        line-height: 50px;
      }
      .weui-flex__item:nth-child(1){
        text-align: left;
        flex: 2;
        background: white;
        padding-left: 15px;
      }
      .weui-flex__item:nth-child(2){
        background: linear-gradient(to right,#F19270,#F478A1);
      }
    }
  }
}


