@import "../../../styles";
.registered-container-box{
  background: #F1F1F1;
  position: relative;
  .registered-input{
    position: relative;
    .weui-input {
      height: 50px;
      background: white;
      color: @weui-btn-color-info;
      padding: 1vh 0.5vw;
    }
    i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3vw;
      color: #99D188;
      font-min-size: 1.5rem;
    }
  }
  .registered-footer{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    button{
      width: 90%;
    }
  }
}

