<div class="registered-container-box">
  <app-header [option]="headerOption" style="background: #000;"></app-header>
  <!--<article class="registered-input">
    <input class="weui-input" type="number"  name="qq" pattern="[0-9]*" placeholder="请填写推荐人工号" [(ngModel)]="referrerNumber">
    <i class="fa fa-bars" aria-hidden="true" (click)="actionSheetShow('ios', photo)"></i>
  </article>-->
  <!--<article class="registered-scan">
    <weui-actionsheet [menus]="alertMenus" [config]="config"></weui-actionsheet>
  </article>-->
  <!--<article class="registered-camera">
    &lt;!&ndash;获取摄像头&ndash;&gt;
    <input #photo type="file" accept="image/*" style="display: none">
  </article>-->
  <!--<article class="registered-dialog">

  </article>-->
  <!--<footer class="registered-footer">
    <button weui-button weui-type="primary" class="referrerClick()">下一步</button>
  </footer>-->
</div>
