<div class="team-bill">
  <div class="bill-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title" style="color: #81B770;">团队收益</h2>
      <h2 class="weui-msg__title" style="color: #81B770;">+650.00</h2>
    </div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">当前状态</div>
        <div class="weui-cell__bd" style="color: #7FB66E;">已入账</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">成员姓名</div>
        <div class="weui-cell__bd" style="color: #707071;">俗礼明</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">收益时间</div>
        <div class="weui-cell__bd" style="color: #7FB66E;">2018-11-08<span style="margin-left: 15px">10:12:14</span></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">预计入账时间</div>
        <div class="weui-cell__bd" style="color: #FAD064;">2018-11-08<span style="margin-left: 15px">10:12:14</span></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">订单号</div>
        <div class="weui-cell__bd" style="color: #707071;">1123674545454</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">支付时间</div>
        <div class="weui-cell__bd" style="color: #707071;">2018年10月27日08:47:19</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">支付方式</div>
        <div class="weui-cell__bd" style="color: #707071;">钱包支付</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd" style="color:#C8C8C8">失败原因</div>
        <div class="weui-cell__bd" style="color: #EE6A71;">买家退货</div>
      </div>
    </div>
  </div>
</div>
