.team-bill{
  height: 100vh;
  overflow: hidden;
  background-color: #F1F1F1;
  position: relative;
  .weui-msg{
    background: white;
    padding-bottom: 1px;
    margin-top: 15px;
    .weui-cells{
      //margin-top: 0;
      .weui-cell{
        .weui-cell__hd{
          width: 120px;
          text-align: left;
        }
        .weui-cell__bd{
          margin-left: 40px;
          text-align: left;
        }
      }
    }
  }
}

