<div class="mine-order">
  <div class="mine-order-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="mine-order-select">
    <div class="weui-cells">
      <div class="weui-flex">
        <div class="weui-flex__item" *ngFor="let item of mOrderStatusList">
          <div class="placeholder">
            <p style="font-size: 1rem">{{item.name}}</p>
            <p style="font-size: 0.8rem;color: #BEBEBE;">{{item.amount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-order-list">
    <weui-infiniteloader (loadmore)="mineOrderLoadMore($event)" [config]="mOrderLoaderConfig">
      <div class="list" *ngFor="let item of mOrderList">
        <div class="weui-cells__title">
          <span>{{item?.times}}</span>
        </div>
        <div class="weui-panel weui-panel_access" *ngFor="let childItem of item?.value">
          <div class="weui-panel__hd" [routerLink]="['/mine/order/detail', childItem.id]">
            <div class="weui-cell">
              <div class="weui-cell__bd" style="vertical-align: middle">
                <p>订单号：{{childItem?.sn}}</p>
                <p style="font-size: 1rem;color: #5E5E5E;">{{childItem?.user?.username}}</p>
              </div>
              <div class="weui-cell__ft">
                <p *ngIf="childItem?.status === 'shippe'" style="color: #7FB66E;vertical-align: middle;">待收货</p>
                <p *ngIf="childItem?.status === 'pendingPayment'" style="color: #FF3333;vertical-align: middle;">待付款</p>
                <p *ngIf="childItem?.status === 'completed'" style="color: #8FBD80;vertical-align: middle;">已完成</p>
                <p *ngIf="childItem?.status === 'pendingReview'" style="color: #FF3F3F;vertical-align: middle;">退款中</p>
                <p style="margin-top: 8px">{{childItem?.createdDate}}</p>
              </div>
            </div>
          </div>
          <div class="weui-panel__bd" [routerLink]="['/mine/order/detail', childItem.id]">
            <div class="weui-cell" *ngFor="let props of childItem?.moyaoOrderItemModels; let i = index">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="props?.goods?.imgs"
                     alt="图片无效">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 1.1rem;">{{props?.goods?.title}}</p>
                <p style="font-size: 0.8rem;color: #888888;">{{props?.goods?.info}}</p>
              </div>
              <div class="weui-cell__ft">
                <p>￥{{props?.price}}</p>
                <p>x{{props?.quantity}}</p>
              </div>
            </div>
            <div class="weui-total">
              <p class="pull-right">
                <span>共两件商品 合计：</span>
                <span style="color: #FF4343;">￥{{childItem?.price}}</span>
              </p>
            </div>
          </div>
          <div class="weui-panel__ft">
            <div class="weui-flex" *ngIf="childItem?.status === 'pendingPayment'">
              <div class="weui-flex__item">
                <span>取消订单</span>
              </div>
              <div class="weui-flex__item">
                <span>去付款</span>
              </div>
            </div>
            <div class="weui-flex" *ngIf="childItem?.status === 'shippe'">
              <div class="weui-flex__item">
                <span>查看物流</span>
              </div>
              <div class="weui-flex__item">
                <span>确认收货</span>
              </div>
            </div>
            <div class="weui-flex" *ngIf="childItem?.status === 'completed'">
              <div class="weui-flex__item">
                <span>删除订单</span>
              </div>
              <div class="weui-flex__item">
                <span>在下一单</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mine-oeder-none" style="color: red;text-align: center" *ngIf="mOrderList.length === 0">
        <p>暂无订单记录</p>
      </div>
      <!--待付款-->
      <!--<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="vertical-align: middle">
              <p>订单号：157754284</p>
              <p style="font-size: 1.6rem;color: #5E5E5E;">客户：王明</p>
            </div>
            <div class="weui-cell__ft">
              <p style="color: #FF3333;vertical-align: middle;">待付款</p>
              <p style="margin-top: 8px">2018-11-23 08:57</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.imgURL"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.goodsName}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.goodsDesc}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥100</p>
              <p>x1</p>
            </div>
          </div>
          <div class="weui-total">
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥300.00</span>
            </p>
          </div>
        </div>
        <div class="weui-panel__ft">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span>取消订单</span>
            </div>
            <div class="weui-flex__item">
              <span>去付款</span>
            </div>
          </div>
        </div>
      </div>-->

      <!--已取消-->
      <!--<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="vertical-align: middle">
              <p>订单号：157754284</p>
              <p style="font-size: 1.6rem;color: #5E5E5E;">客户：王明</p>
            </div>
            <div class="weui-cell__ft">
              <p style="color: #BEBEBE;vertical-align: middle;">已取消</p>
              <p style="margin-top: 8px">2018-11-23 08:57</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.imgURL"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.goodsName}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.goodsDesc}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥100</p>
              <p>x1</p>
            </div>
          </div>
          <div class="weui-total">
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥300.00</span>
            </p>
          </div>
        </div>
        <div class="weui-panel__ft">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span>删除订单</span>
            </div>
            <div class="weui-flex__item">
              <span>重新购买</span>
            </div>
          </div>
        </div>
      </div>-->

      <!--已完成-->
      <!--<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="vertical-align: middle">
              <p>订单号：157754284</p>
              <p style="font-size: 1.6rem;color: #5E5E5E;">客户：王明</p>
            </div>
            <div class="weui-cell__ft">
              <p style="color: #8FBD80;vertical-align: middle;">已完成</p>
              <p style="margin-top: 8px">2018-11-23 08:57</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.imgURL"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.goodsName}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.goodsDesc}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥100</p>
              <p>x1</p>
            </div>
          </div>
          <div class="weui-total">
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥300.00</span>
            </p>
          </div>
        </div>
        <div class="weui-panel__ft">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span>删除订单</span>
            </div>
            <div class="weui-flex__item">
              <span>再下一单</span>
            </div>
          </div>
        </div>
      </div>-->

      <!--已付款-->
      <!--<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="vertical-align: middle">
              <p>订单号：157754284</p>
              <p style="font-size: 1.6rem;color: #5E5E5E;">客户：王明</p>
            </div>
            <div class="weui-cell__ft">
              <p style="color: #8FBD80;vertical-align: middle;">已付款</p>
              <p style="margin-top: 8px">2018-11-23 08:57</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.imgURL"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.goodsName}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.goodsDesc}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥100</p>
              <p>x1</p>
            </div>
          </div>
          <div class="weui-total">
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥300.00</span>
            </p>
          </div>
        </div>
      </div>-->

      <!--退款中-->
      <!--<div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="vertical-align: middle">
              <p>订单号：157754284</p>
              <p style="font-size: 1.6rem;color: #5E5E5E;">客户：王明</p>
            </div>
            <div class="weui-cell__ft">
              <p style="color: #FF3F3F;vertical-align: middle;">退款中</p>
              <p style="margin-top: 8px">2018-11-23 08:57</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.imgURL"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.goodsName}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.goodsDesc}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥100</p>
              <p>x1</p>
            </div>
          </div>
          <div class="weui-total">
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥300.00</span>
            </p>
          </div>
        </div>
      </div>-->
    </weui-infiniteloader>
  </div>
</div>
