<div class="client-add">
  <div class="client-add-header">
    <app-header [option]="headerOption" (headerRightClick)="saveHeaderClick()"></app-header>
  </div>
  <div class="client-add-username">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="cliuser" style="font-size: 0.85rem">客户</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="cliuser" type="text" name="cliuser" placeholder="请输入姓名" [(ngModel)]="addClient.name" (change)="clinetNameChange()">
        </div>
      </div>
    </div>
    <!--<div class="weui-panel" style="margin-top: 0px;" *ngIf="searchItems | async">
      <div class="weui-panel__bd" *ngIf="searchItems | async; let searchItems; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let item of searchItems">
          <div class="weui-cell__bd weui-cell_primary">
            <p>{{item}}</p>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">Loading...</div>
        </div>
      </ng-template>
      &lt;!&ndash;  <a class="weui-panel__ft" href="javascript:void(0);">
          <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">More</div>
            <div class="weui-cell__ft"></div>
          </div>
        </a>&ndash;&gt;
    </div>-->
  </div>
  <div class="client-add-tab">
    <weui-navbar>
      <weui-tab heading="地址" (select)="clientTabSelect($event)" style="height: 100%;">
        <article class="weui-article">
          <div class="client-tab-scroll">
            <weui-infiniteloader (loadmore)="clientAddLoadMore($event)" [config]="clientAddloaderConfig">
              <ng-container *ngIf="clientId !== 'null'; else clientIdShow">
                <ng-container *ngIf="clientAddressList; else addressLoading">
                  <h3 *ngIf="clientAddressList?.length === 0" style="text-align: center;color: #ADADB0;margin-top: 30%">暂无收货人信息</h3>
                  <div class="weui-cell" *ngFor="let item of clientAddressList" (click)="clientUpdateClick(item)">
                    <div class="weui-cell__bd">
                      <p><span>收<b>货</b>人</span> {{item?.name}}</p>
                      <p><span>联系电话</span> {{item?.phone}}</p>
                      <p><span>收获地址</span> {{item?.address}}</p>
                    </div>
                    <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前收货地址？', item, $event)">
                      <span class="weui-badge icon iconfont icon-guanbi" style="position: absolute;top: 0.3em;right: 0.5em;font-size: 0.6rem"></span>
                    </div>
                  </div>
                </ng-container>
                <ng-template #addressLoading>
                  <app-loading></app-loading>
                </ng-template>
              </ng-container>
              <ng-template #clientIdShow>
                <p style="text-align: center;color: #B4B4B4;margin-top: 30%;font-size: 0.85rem">暂无客户，请您新增新客户</p>
              </ng-template>
            </weui-infiniteloader>
          </div>
        </article>
      </weui-tab>
      <weui-tab heading="发票" (select)="clientTabSelect($event)" style="height: 100%;">
        <article class="weui-article">
          <div class="client-tab-scroll">
            <weui-infiniteloader (loadmore)="clientAddLoadMore($event)" [config]="clientAddloaderConfig">
              <ng-container *ngIf="clientId !== 'null'; else clientIdShow">
                <ng-container *ngIf="clientInvoiceList; else invoiceLoading">
                  <h3 *ngIf="clientInvoiceList?.length === 0" style="text-align: center;color: #ADADB0;margin-top: 30%">当前客户暂无发票信息</h3>
                  <div class="weui-cell" *ngFor="let item of clientInvoiceList" (click)="clientUpdateClick(item)">
                    <div class="weui-cell__bd">
                      <p><span>发票抬头</span>{{item?.title}}</p>
                      <p *ngIf="item?.number"><span>税<b style="margin: 0 0 0 25px;">号</b></span> {{item?.number}}</p>
                    </div>
                    <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前发票？', item, $event)">
                      <span class="weui-badge icon iconfont icon-guanbi" style="position: absolute;top: 0.3em;right: 0.5em;font-size: 0.6rem"></span>
                    </div>
                  </div>
                </ng-container>
                <ng-template #invoiceLoading>
                  <app-loading></app-loading>
                </ng-template>
              </ng-container>
              <ng-template #clientIdShow>
                <p style="text-align: center;color: #ADADB0;margin-top: 30%;font-size: 0.85rem">请新增新客户</p>
              </ng-template>
            </weui-infiniteloader>
          </div>
        </article>
      </weui-tab>
    </weui-navbar>
  </div>
  <div class="client-add-toast">
    <weui-toast #addRemindToast [type]="'success'" [text]="'请先填写客户姓名'" [icon]="''" [time]="2000"></weui-toast>
    <weui-toast #addClientToast [type]="'success'" [text]="clientMsg" [icon]="''" [time]="2000"></weui-toast>
  </div>
  <div class="client-add-dialog">
    <weui-dialog #iosDialog [config]="configDialog"></weui-dialog>
  </div>
  <div class="client-add-address">
    <weui-mask #clientAddMask [backdrop]="false">
      <div class="weui-cells">
        <div class="weui-cell" style="padding:  10px 0 10px 15px;">
          <div class="weui-cell__bd" style="text-align: center">
            <span style="vertical-align: middle;color: #737373;font-size: 0.85rem">{{clientMaskTitle}}</span>
          </div>
          <div class="weui-cell__ft" style="height: 100%;width: 2rem;text-align: center" (click)="closeAddressMask();">
            <i class="icon iconfont icon-guanbi" aria-hidden="true" style="font-size: 0.5rem;color: #ADADAD;"></i>
          </div>
        </div>
        <div class="weui-cell" style="padding: 0 15px 10px 15px;">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入收货人姓名" [(ngModel)]="addAddressRes.name" name="name">
            <input class="weui-input" style="margin-top: 15px" type="tel" placeholder="请输入收货人手机号码"  weui-input="mobile" weui-required [(ngModel)]="addAddressRes.phone" name="mobile">
            <input class="weui-input" style="margin-top: 15px" type="text" placeholder="请输入收货人详细地址" [(ngModel)]="addAddressRes.address" name="address">
            <input class="weui-input" style="margin-top: 15px" type="text"
                   placeholder="粘贴整段地址,自动识别姓名、电话和地址，如：北京市朝阳区富康路姚家园3楼1351111111马云"
                   name="description" [(ngModel)]="description" (ngModelChange)='clientAddChange($event)'>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <button
              class="weui-btn"
              [disabled]="(addAddressRes.name || !addAddressRes.phone || !addAddressRes.address)"
              (click)="saveBtnClick(clientSaveBtnStatus)"
              [ngClass]="{
              'weui-btn_primary': (addAddressRes.name && addAddressRes.phone && addAddressRes.address)
              }"
            >保存</button>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
  <div class="client-add-individual" *ngIf="clientIndividualShow">
    <div class="weui-cells weui-cells_checkbox">
      <div class="weui-cell" style="padding:  10px 0 10px 15px;">
        <div class="weui-cell__bd" style="text-align: center">
          <span style="vertical-align: middle;color: #737373;font-size: 0.85rem">{{clientMaskTitle}}</span>
        </div>
        <div class="weui-cell__ft" style="height: 100%;width: 2rem;text-align: center" (click)="clientIndividualShow=false">
          <i class="icon iconfont icon-guanbi" aria-hidden="true" style="font-size: 0.5rem;color: #ADADAD;"></i>
        </div>
      </div>
      <div class="weui-cell" style="justify-content: space-around">
        <label class="weui-cell__hd weui-check__label" for="s12" style="margin-right:36vw">
          <input type="radio" class="weui-check" name="checkbox" id="s12" value="individual" [(ngModel)]="clientAddRadioRes.invoiceType">
          <i class="weui-icon-checked"></i>
          <span>个人</span>
        </label>
        <label class="weui-cell__bd weui-check__label" for="s13">
          <input type="radio" class="weui-check" name="checkbox" id="s13" value="company" [(ngModel)]="clientAddRadioRes.invoiceType">
          <i class="weui-icon-checked"></i>
          <span>公司</span>
        </label>
      </div>
      <div class="weui-cell personal-input" *ngIf="clientAddRadioRes.invoiceType === 'individual'">
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请填写发票抬头" [(ngModel)]="clientAddRadioRes.title" name="title">
        </div>
      </div>
      <div class="company-input" *ngIf="clientAddRadioRes.invoiceType === 'company'">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请填写发票抬头" [(ngModel)]="clientAddRadioRes.title" name="title">
          </div>
        </div>
        <div class="weui-cell" style="padding: 0 15px 10px 15px;">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请填写纳税人识别号" [(ngModel)]="clientAddRadioRes.number" name="number">
          </div>
        </div>
      </div>
      <div class="weui-cell_btn">
        <button
          class="weui-btn"
          [disabled]="!clientAddRadioRes.title"
          (click)="saveBtnClick(clientSaveBtnStatus)"
          [ngClass]="{'weui-btn_primary': clientAddRadioRes.title || clientAddRadioRes.number}"
        >保存</button>
      </div>
    </div>
  </div>
  <div class="client-add-button" (click)="bottomBtnClick()">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button class="weui-btn weui-btn_primary" weui-button>{{bottomBtnStatus === 'address'?'新增客户收货地址': '新增客户发票信息'}}</button>
    </div>
  </div>
</div>
