<div class="client-add">
  <div class="client-add-header">
    <app-header [option]="headerOption" (headerRightClick)="saveAddClient()"></app-header>
  </div>
  <div class="client-add-username">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="cliuser">客户</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="cliuser" type="text" name="cliuser" placeholder="请输入姓名" (input)="clinetNameChange($event)">
        </div>
      </div>
    </div>
    <!--<div class="weui-panel" style="margin-top: 0px;" *ngIf="searchItems | async">
      <div class="weui-panel__bd" *ngIf="searchItems | async; let searchItems; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let item of searchItems">
          <div class="weui-cell__bd weui-cell_primary">
            <p>{{item}}</p>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">Loading...</div>
        </div>
      </ng-template>
      &lt;!&ndash;  <a class="weui-panel__ft" href="javascript:void(0);">
          <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">More</div>
            <div class="weui-cell__ft"></div>
          </div>
        </a>&ndash;&gt;
    </div>-->
  </div>
  <div class="client-add-tab">
    <weui-navbar>
      <weui-tab heading="地址" (select)="onSelect()">
        <article class="weui-article">
          <h3 style="text-align: center;color: #B4B4B4;">暂无收货人信息</h3>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p>收货人：王明</p>
              <p>联系电话：18788888888</p>
              <p>收获地址：贵州省贵阳市花果园</p>
            </div>
            <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前收货人信息')">
              <span class="weui-badge fa fa-times" style="position: absolute;top: 0.3em;right: 0.5em;"></span>
            </div>
          </div>
        </article>
      </weui-tab>
      <weui-tab heading="发票" (select)="onSelect()">
        <article class="weui-article">
          <h3 style="text-align: center;color: #B4B4B4;">暂无收货人信息</h3>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p><span>发票抬头：</span><span>贵州四季常青药业</span></p>
              <p><span>税号：</span><span>54564564564564654</span></p>
            </div>
            <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前发票信息')">
              <span class="weui-badge fa fa-times" style="position: absolute;top: 0.3em;right: 0.5em;"></span>
            </div>
          </div>
        </article>
      </weui-tab>
    </weui-navbar>
  </div>
  <div class="client-add-userinfo" (click)="addAddressClick()">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button class="weui-btn weui-btn_primary" weui-button>新增客户收获地址</button>
    </div>
  </div>
  <div class="client-add-toast">
    <weui-toast #addRemindToast [type]="'success'" [text]="'请先填写客户姓名'" [icon]="''" [time]="2000"></weui-toast>
    <weui-toast #addClientToast [type]="'success'" [text]="clientMsg" [icon]="''" [time]="2000"></weui-toast>
  </div>
  <div class="client-add-dialog">
    <weui-dialog #iosDialog [config]="configDialog"></weui-dialog>
  </div>
  <div class="client-add-address">
    <weui-mask #clientAddMask>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd" style="text-align: center">
            <span style="vertical-align: middle;color: #000;">新增收货人地址</span>
          </div>
          <div class="weui-cell__ft" (click)="this.clientAddMask.hide()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入收货人姓名" [(ngModel)]="addAddressRes.name" name="name">
            <input class="weui-input" type="tel" placeholder="请输入收货人手机号码"  weui-input="mobile" weui-required [(ngModel)]="addAddressRes.phone" name="mobile">
            <input class="weui-input" type="text" placeholder="请输入收货人详细地址" [(ngModel)]="addAddressRes.address" name="address">
            <input class="weui-input" type="text" placeholder="粘贴整段地址,自动识别姓名、电话和地址" name="description">
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <button
              class="weui-btn"
              [disabled]="!addAddressRes.name || !addAddressRes.phone || !addAddressRes.address"
              (click)="saveAddressClick()"
              [ngClass]="{'weui-btn_primary': addAddressRes.name && addAddressRes.phone && addAddressRes.address}"
            >保存</button>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
</div>
