<div class="client-add">
  <app-header [option]="headerOption"></app-header>
  <div class="client-username">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" for="cliuser">客户</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="cliuser" type="text" name="cliuser" placeholder="请输入姓名" [(ngModel)]="inputRes.name">
        </div>
      </div>
    </div>
  </div>
  <div class="client-tab">
    <weui-navbar>
      <weui-tab heading="地址" (select)="onSelect()">
        <article class="weui-article">
          <h3 style="text-align: center;color: #B4B4B4;">暂无收货人信息</h3>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p>收货人：王明</p>
              <p>联系电话：18788888888</p>
              <p>收获地址：贵州省贵阳市花果园</p>
            </div>
            <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前收货人信息')">
              <span class="weui-badge fa fa-times" style="position: absolute;top: 0.3em;right: 0.5em;"></span>
            </div>
          </div>
        </article>
      </weui-tab>
      <weui-tab heading="发票" (select)="onSelect()">
        <article class="weui-article">
          <h3 style="text-align: center;color: #B4B4B4;">暂无收货人信息</h3>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p><span>发票抬头：</span><span>贵州四季常青药业</span></p>
              <p><span>税号：</span><span>54564564564564654</span></p>
            </div>
            <div class="weui-cell__ft" (click)="dialogDelShow('ios', '确认删除当前发票信息')">
              <span class="weui-badge fa fa-times" style="position: absolute;top: 0.3em;right: 0.5em;"></span>
            </div>
          </div>
        </article>
      </weui-tab>
    </weui-navbar>
  </div>
  <div class="add-userinfo" (click)="addAddressClick()">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button class="weui-btn weui-btn_primary" weui-button>新增客户收获地址</button>
    </div>
  </div>
  <div class="client-toast">
    <weui-toast #success [text]="'请先填写客户姓名'" [icon]="''" [time]="2000"></weui-toast>
  </div>
  <div class="client-dialog">
    <weui-dialog #iosDialog [config]="configDialog"></weui-dialog>
  </div>
  <div class="add-client-info">
    <app-wj-dialog *ngIf="addDialogShow" [config]="addDialogConfig" (dialogPayClick)="onDialogPayClick($event)" (dialogPayDestroy)="onDialogPayClick($event)">
      <div class="dialog-content">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cells">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入文本" [(ngModel)]="addRes.phone" name="txt">
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入文本" [(ngModel)]="addRes.phone" name="txt">
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-wj-dialog>
  </div>
</div>
