.client-add{
  height: 100vh;
  background-color: #F1F1F1;
  position: relative;
  .client-add-tab{
    width: 100%;
    position: absolute;
    top: 127px;
    left: 0;
    bottom: 46px;
    background-color: #FFFFFF;
    .weui-article{
      p{
        margin: 0;
        font-size: 1.2rem;
      }
      .weui-cell{
        box-shadow: 0 0 10px 2px rgb(234,234,234);
        margin-top: 10px;
        .weui-cell__ft{
          .weui-badge{
            background-color: transparent;
            color: #999999;
          }
        }
      }
    }
  }
  .client-add-userinfo{
    .weui-footer_fixed-bottom{
      bottom: 0;
      .weui-btn{
        border-radius: 0;
      }
    }
  }
  .client-add-dialog{
    .weui-dialog{
      .weui-dialog__bd{
        font-size: 1.5rem;
        :nth-child(2){
          margin-top: 5px;
        }
      }
      .weui-dialog__ft{
        .weui-dialog__btn.weui-dialog__btn_primary{
          color: #FF7676;
        }
      }
    }
  }
  .client-add-address{
    .weui-mask{
      .weui-mask__content{
        .weui-cells{
          margin-top: 0;
          margin-left: 10px;
          margin-right: 10px;
          border-radius: 5px;
          position: fixed;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          font-size: 1.3rem;
          color: #A1A1A1;
          padding-bottom: 15px;
          .weui-cell{
            .weui-input{
              margin-top: 5px;
              color: #757575;
            }
          }
        }
      }
    }
  }
}
.weui-toast {
  height: 14vh;
  line-height: 7vh;
  font-size: 1.5rem;
  min-height: 0;
  width: 80vw;
  margin-left: -40vw;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-70%);
  .weui-icon_toast{
    margin: 0;
  }
  .weui-toast__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
