.client-add{
  height: 100vh;
  background: #F5F5F5;
  position: relative;
  overflow: hidden;
  .client-add-username{
    color: #898989;
    .weui-input{
      font-size: 0.85rem;
      &::placeholder{
        font-size: 0.85rem;
        color: #D5D5D5;
      }
    }
  }
  .client-add-tab{
    width: 100%;
    position: absolute;
    top: 127px;
    left: 0;
    bottom: 46px;
    background-color: #FFFFFF;
    .weui-navbar{
      justify-content: center;
      background-color: #fff;
      &:after{
        content: unset;
      }
      .weui-navbar__item {
        flex: unset;
        background-color: #FFFFFF;
        color: #BBBBBB;
        width: 6rem;
        font-size: 0.85rem;
        padding: 5px 0;
        &:after{
          content: unset;
        }
        &:nth-child(1){
          margin-right: 1rem;
        }
        &:nth-child(2){
          margin-left: 1rem;
        }
      }
      .weui-navbar__item.weui-bar__item_on {
        background-color: unset;
        border-bottom: 3px solid #559FF0;
        color: #559FF0;
      }
    }
    .weui-article{
      padding: 0;
      height: 100%;
      position: relative;
      .client-tab-scroll{
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        bottom: 10px;
        overflow: hidden;
        .weui-infiniteloader__content{
          padding-left: 15px;
          padding-bottom: 15px;
          padding-right: 15px;
          .weui-cell{
            box-shadow: 0 0 10px 2px rgb(234,234,234);
            margin-top: 10px;
            .weui-cell__ft{
              .weui-badge{
                background-color: transparent;
                color: #999999;
              }
            }
          }
          p{
            color: #6C6C6C;
            margin: 0;
            font-size: 0.8rem;
            span{
              color: #C8C8C8;
              margin-right: 10px;
              b{
                margin: 0 6px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  .client-add-toast{
    .weui-toast{
      min-width: 15em;
      min-height: 4em;
      width: unset;
      padding: 15px 10px;
      top: 30%;
      font-size: 0.85rem;
      background: rgba(127,127,127,1);
      border-radius: 7px;
      left: 35%;
      .weui-icon_toast {
        display: none;
      }
      .weui-toast__content {
        margin: 0;
        line-height: 4em;
      }
    }
  }
  .client-add-button{
    .weui-footer_fixed-bottom{
      bottom: 0;
      .weui-btn{
        border-radius: 0;
      }
      .weui-btn_primary{
        background: linear-gradient(to right,#F19270,#F478A1);
        font-size: 0.85rem;
        padding: 8px 0;
      }
    }
  }
  .client-add-dialog{
    .weui-dialog{
      max-width: unset;
      width: 90%;
      .weui-dialog__bd{
        font-size: 0.85rem;
        padding: 0;
        height: 4rem;
        line-height: 4rem;
        color: #686868;
      }
      .weui-dialog__ft{
        line-height: 36px;
        .weui-dialog__btn{
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 0.85rem;
        }
        .weui-dialog__btn.weui-dialog__btn_primary{
          color: #FF7676;
        }
        .weui-dialog__btn.weui-dialog__btn_default{
          color: #818181;
        }
      }
    }
  }
  .client-add-address{
    .weui-mask{
      .weui-mask__content{
        .weui-cells{
          margin-top: 0;
          margin-left: 15px;
          margin-right: 15px;
          border-radius: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          color: #A1A1A1;
          padding-bottom: 0;
          .weui-cell{
            .weui-input{
              margin-top: 5px;
              font-size: 0.8rem;
              color: #6F6F6F;
              &::placeholder{
                font-size: 0.8rem;
                color: #D2D2D2;
              }
            }
            .weui-btn{
              background-color: #fff;
              color: #D2D2D2;
              font-size: 0.88rem;
              &:after{
                content: unset;
              }
            }
            .weui-btn.weui-btn_primary{
              color: #61A5F1;
            }
          }
        }
      }
    }
  }
  .client-add-individual{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    transition-duration: 0.3s;
    .weui-cells{
      margin-top: 0;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      min-height: 230px;
      color: #A1A1A1;
      padding-bottom: 15px;
      z-index: 1002;
      .personal-input,.company-input{
        .weui-input{
          font-size: 0.8rem;
          color: #6F6F6F;
          &::placeholder{
            font-size: 0.8rem;
            color: #D2D2D2;
          }
        }
      }
      .weui-cell_btn{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        z-index: 1003;
        padding: 0 15px;
        .weui-btn{
          background-color: #fff;
          color: #D2D2D2;
          font-size: 0.88rem;
          &:after{
            content: unset;
          }
        }
        .weui-btn.weui-btn_primary{
          color: #61A5F1;
        }
      }
      .weui-cell{
        .weui-check__label{
          flex: unset;
          span{
            font-size: 0.8rem;
          }
        }
        .weui-input{
          margin-top: 5px;
          color: #757575;
        }
        .weui-check:checked + .weui-icon-checked:before {
          color: #559FF0;
        }
      }
    }
    .weui-cells_checkbox .weui-icon-checked:before {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
}

