<div class="tab">
  <weui-tabbar>
    <weui-tab heading="首页" [active]="tabActive === 'home'" [icon]="'<img src=./assets/images/icon_tabbar.png>'" (select)="onSelect('home')">
      <app-tab-home></app-tab-home>
    </weui-tab>
    <weui-tab style="height: 100%" heading="客户" [active]="tabActive === 'client'" [icon]="'<img src=./assets/images/icon_tabbar.png>'" (select)="onSelect('client')">
      <app-tab-client></app-tab-client>
    </weui-tab>
    <weui-tab style="height: 100%" heading="我的" [active]="tabActive === 'mine'" [icon]="'<img src=./assets/images/icon_tabbar.png>'" (select)="onSelect('mine')">
      <app-tab-mine></app-tab-mine>
    </weui-tab>
  </weui-tabbar>
</div>

