<div class="tab">
  <weui-tabbar>
    <weui-tab
      style="height: 100%" heading="首页"
      [active]="tabActive === 'home'"
      [icon]="'<img src=./assets/images/home-ac.png>'"
      (select)="onSelect('home', $event)"
      (deselect)="onDeselect($event)"
    >
      <app-tab-home [tabHome]="tabHome"></app-tab-home>
    </weui-tab>
    <weui-tab
      style="height: 100%" heading="商品预约"
      [active]="tabActive === 'order'"
      [icon]="'<img src=./assets/images/order-ac.png>'"
      (select)="onSelect('order', $event)"
      (deselect)="onDeselect($event)"
    >
      <app-tab-order></app-tab-order>
    </weui-tab>
    <weui-tab
      style="height: 100%" heading="产品知识"
      [active]="tabActive === 'product'"
      [icon]="'<img src=./assets/images/product-ac.png>'"
      (select)="onSelect('product', $event)"
      (deselect)="onDeselect($event)"
    >
      <app-tab-product></app-tab-product>
    </weui-tab>
    <weui-tab
      style="height: 100%" heading="我的"
      [active]="tabActive === 'mine'"
      [icon]="'<img src=./assets/images/mine-ac.png>'"
      (select)="onSelect('mine', $event)"
      (deselect)="onDeselect($event)"
    >
      <app-tab-mine></app-tab-mine>
    </weui-tab>
  </weui-tabbar>
</div>

