.tab-mine{
  background: #F1F1F1;
  .profile{
    .weui-cell_access{
      margin-top: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      .weui-cell__bd{
        p{
          position: relative;
        }
      }
    }
  }
  .order-list{
    text-align: center;
    .weui-cells{
      .weui-flex{
        .weui-flex__item{
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .weui-cells{
    font-size: 1.5rem;
    .weui-cell{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .contact-dialog{
    .weui-dialog{
      .weui-dialog__bd{
        font-size: 1.5rem;
        :nth-child(2){
          margin-top: 5px;
        }
      }
      .weui-dialog__ft{
        .weui-dialog__btn.weui-dialog__btn_primary{
          color: #FF7676;
        }
      }
    }
  }
}
