<div class="tab-mine">
  <div class="tab-mine-profile">
    <div class="tab-mine-profile-top">
      <div class="profile-top-head" [routerLink]="['/mine/profile']">
        <div class="profile-top-head-img">
          <img *ngIf="mineUserInfo?.headImage" [src]="mineUserInfo?.headImage"
               style="width: 66px;display: inline-block;border-radius: 50%;" alt="加载中...">
          <span class="weui-badge">店员</span>
        </div>
      </div>
      <div class="profile-top-username">
        <p><span style="position: relative;font-size: 1.2rem">{{mineUserInfo?.username}}</span></p>
      </div>
      <div class="pprofile-top-workId">
        <p style="font-size: 0.85rem;">工号：{{mineUserInfo?.workId}}</p>
      </div>
    </div>
    <div class="tab-mine-profile-bottom">
      <div class="profile-bottom-order" [routerLink]="['/mine/order']">
        <div class="weui-cells">
          <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd"><p>我的订单</p></div>
          </div>
          <div class="weui-flex">
            <div class="weui-flex__item" *ngFor="let item of orderNum">
              <div class="placeholder">
                <p style="font-size: 1rem">{{item.name}}</p>
                <p style="font-size: 1rem;color: #BEBEBE;">{{item.amount}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-mine-list">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/wallet']">
        <div class="weui-cell__bd">我的客户</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/wallet']">
        <div class="weui-cell__bd">我的钱包</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/team']">
        <div class="weui-cell__bd">我的团队</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/team']">
        <div class="weui-cell__bd">销售排行榜</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/shared']">
        <div class="weui-cell__bd">我的分享</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell" (click)="dialogShow('ios');">
        <div class="weui-cell__bd">联系我们</div>
        <div class="weui-cell__ft">
          400-8485-5577
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/setting']">
        <div class="weui-cell__bd">设置</div>
        <div class="weui-cell__ft" style="font-size: 0">
          <!--<span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>-->
        </div>
      </div>
    </div>
  </div>
  <div class="tab-mine-condialog">
    <a #tel href="tel:400-8485-5577" [hidden]="true"></a>
    <weui-dialog #iosDialog [config]="configDialog"></weui-dialog>
  </div>
</div>
