<div class="pro-detail">
  <div class="pro-detail-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="pro-detail-swiper">
    <div class="swiper-container"
         [swiper]="config"
         (indexChange)="onIndexChange($event)"
         (swiperTransitionStart)="onSwiperEvent('transitionStart')"
         (swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
         (autoplayStart)="onSwiperEvent($event)"
    >
      <div class="swiper-wrapper">
        <div *ngFor="let slide of slides" class="swiper-slide" style="margin-right: 0">
          <!--<img [src]="slide" alt="" style="height: 100%;width: auto">-->
          <div class="swiper-wrapper-img" [ngStyle]="{'background-image': 'url('+slide+')'}"></div>
        </div>
      </div>
      <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
      <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
      <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
    </div>
  </div>
  <div class="pro-detail-article">
    <article class="weui-article">
      <section>
        <h3 style="color: #696969;font-size: 1rem">{{prodInfo?.title}}</h3>
        <p style="color: #C6C6C6;font-size: 0.8rem">
          {{prodInfo?.info}}
        </p>
      </section>
    </article>
  </div>
  <div class="pro-detail-title">
    –<span>产品详情</span>–
  </div>
  <div class="pro-detail-detail">
    <weui-infiniteloader (loadmore)="clientLoadMore($event)" [config]="clientloaderConfig">
      <div class="article-detail">
        <p class="article-detail-img">
          <img *ngIf="prodInfo?.mainImage" [src]="prodInfo?.mainImage" alt="图片地址无效" style="width: 100%;height: auto">
        </p>
        <p>{{prodInfo?.content}}</p>
      </div>
    </weui-infiniteloader>
  </div>
  <div class="pro-detail-button" [routerLink]="['/order']">
    <div class="weui-footer weui-footer_fixed-bottom">
      <button class="weui-btn weui-btn_primary" weui-button>立即预约</button>
    </div>
  </div>
</div>
