.pro-detail{
  height: 100vh;
  background-color: #F5F5F5;
  .pro-detail-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 999;
  }
  .pro-detail-scroll{
    height: calc(100vh - 100px);
    padding-top: 50px;
    overflow-y: hidden;
    .scroll-swiper{
      width: 100vw;
      height: 73.33vw;
      .swiper-container{
        height: 100%;
        .swiper-wrapper{
          .swiper-wrapper-img{
            height: 100%;
            width: 100%;
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        .swiper-pagination{
          ::ng-deep .swiper-pagination-bullet.swiper-pagination-bullet-active {
            opacity: 0.5;
            background: #000;
          }
          ::ng-deep .swiper-pagination-bullet{
            opacity: 0.3;
          }
        }
      }
    }
    .scroll-article{
      min-height: 90px;
      background-color: #fff;
      .weui-article{
        section{
          margin-bottom: 0;
        }
      }
    }
    .scroll-title{
      height: 50px;
      line-height: 50px;
      color: #636363;
      font-size: 1rem;
      text-align: center;
      span{
        margin: 0 10px;
      }
    }
    .scroll-detail{
      background-color: #fff;
      width: 100%;
      .article-detail{
        width: 100%;
        .article-detail-content{
          width: calc(100% - 30px);
          padding: 0 15px;
          overflow: hidden;
        }
      }
    }
  }
  .pro-detail-button{
    .weui-footer_fixed-bottom{
      bottom: 0;
      .weui-btn{
        border-radius: 0;
      }
      .weui-btn_primary{
        background: linear-gradient(to right,#F19270,#F478A1);
        font-size: 0.85rem;
        padding: 8px 0;
      }
    }
  }
}
