.order-details{
  height: 100vh;
  background-color: #F5F5F5;
  position: relative;
  .order-details-header{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .order-details-ems{
    padding-top: 50px;
    overflow: hidden;
    .weui-cells{
      padding: 10px 0;
      height:72px;
      font-size: 15px;
      color: white;
      .weui-cell{
        .weui-cell__bd{
          margin-right: 20px;
        }
        .weui-cell__ft{
          color: white;
        }
      }
    }
  }
  .order-details-adress{
    border-radius: 5px;
    margin: 10px 15px 0 15px;
    font-size: 0.85rem;
    padding: 10px 15px;
    background-color: #fff;
    color: #838383;
    p{
      span{
        margin-right: 15px;
        color: #B7B7B7;
      }
    }
  }
  .order-details-product{
    margin-top: 10px;
    padding: 0 15px;
    .weui-panel{
      .weui-cell{
        &:before{
          left: 0;
        }
      }
      .weui-panel__bd{
        .weui-total{
          border-top: 1px solid #F4F4F4;
          font-size: 0.85rem;
          padding: 10px 15px;
          overflow: hidden;
          .pull-left{
            border: 1px solid #C1C1C1;
            border-radius: 0.7rem;
            font-size: 0.7rem;
            padding: 2px 15px;
            color: #A4A4A4;
          }
        }
      }
    }
  }
  .order-details-att{
    padding: 0 15px;
    margin-bottom: 65px;
    .weui-cells{
      border-radius: 5px;
      font-size: 0.85rem;
      color: #CACACA;
      .weui-cell{
        &:before{
          content: unset;
        }
      }
    }
  }
  .order-details-footer{
    .weui-footer{
      height: 50px;
      background-color: #fff;
      padding: 0 15px;
      bottom: 0;
      z-index: 999;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      span{
        display: inline-block;
        height: 30px;
        width: 4rem;
        line-height: 30px;
        text-align: center;
        font-size: 0.75rem;
        border: 1px solid #E5E5E5;
        border-radius: 0.85rem;
        background-color: #fff;
        padding: 0 10px;
        &:nth-child(2){
          margin-left: 15px;
          background-color: #559FF0;
          color:white;
          border-color: #559FF0;
        }
      }
    }
  }
  .order-details-toast{
    .weui-toast{
      min-width: 1em;
      min-height: 1em;
      width: unset;
      padding: 15px 10px;
      top: 30%;
      .weui-icon_toast {
        display: none;
      }
      .weui-toast__content {
        margin: 0;
      }
    }
  }
}
