<div class="order-details" *ngIf="detailsData | async as detailsData; else loading">
  <!--{{detailsData | json}}-->
  <div class="order-details-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-details-ems">
    <div class="weui-cells weui-cell_access"
         [ngStyle]="{
         'background': 'linear-gradient(to right,'+orderDetailStates[detailsData?.data?.status]?.bgColor[0] + ','+orderDetailStates[detailsData?.data?.status]?.bgColor[1]+')'
         }">
      <div class="weui-cell" *ngIf="detailsData?.data?.status === 'shippe'">
        <div class="weui-cell__bd">
          <p>{{detailsData?.data?.addressModel?.address}}</p>
          </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell" *ngIf="detailsData?.data?.status !== 'shippe'">
        <div class="weui-cell__bd">
          <p style="font-size: 1.5rem">{{orderDetailStates[detailsData?.data?.status]?.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="order-details-adress">
    <p>收货姓名：{{detailsData?.data?.addressModel?.name}}</p>
    <p>手机号码：{{detailsData?.data?.addressModel?.phone}}</p>
    <p>收获地址：{{detailsData?.data?.addressModel?.address}}</p>
  </div>
  <div class="order-details-product">
    <div class="weui-panel weui-panel_access">
      <weui-infiniteloader [config]="ordDeilScrollConfig">
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of detailsData?.data?.moyaoOrderItemModels; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage" alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.1rem;">{{item?.goods?.title}}</p>
              <p style="font-size: 0.8rem;color: #888888;">{{item?.goods?.info}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>￥{{item?.goods?.originalPrice}}</p>
              <p>x{{item?.quantity}}</p>
            </div>
          </div>
          <div class="weui-total">
            <span
              *ngIf="orderDetailStates[detailsData?.data?.status]?.services"
              class="pull-left"
              [routerLink]="['/mine/order/aftsale', detailsData?.data?.id]">{{orderDetailStates[detailsData?.data?.status]?.services}}</span>
            <p class="pull-right">
              <span>共两件商品 合计：</span>
              <span style="color: #FF4343;">￥{{detailsData?.data?.amountPaid}}</span>
            </p>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-details-att">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>订单编号：{{detailsData?.data?.sn}}</p>
          <p>订单时间：{{detailsData?.data?.createdDate}}</p>
          <p>发货时间：2018-11-23 08:31:14</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>支付方式：{{detailsData?.data?.amountLog?.payType === 'Wallet'?'钱包支付':'微信支付'}}</p>
          <p *ngIf="detailsData?.data?.amountLog">付款时间：{{detailsData?.data?.amountLog?.createdDate}}</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>发票信息：</p>
        </div>
        <div class="weui-cell__ft">
          <span>{{(!detailsData?.data?.invoiceModel || detailsData?.data?.invoiceModel?.invoiceType === 'noinvoice')?'不需要发票':''}}</span>
          <p style="color: #676767;font-size: 0.8rem">{{detailsData?.data?.invoiceModel?.title}}</p>
          <p style="color: #676767;font-size: 0.8rem" *ngIf="detailsData?.data?.invoiceModel?.number">{{detailsData?.data?.invoiceModel?.number}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="order-details-footer">
    <div class="weui-footer weui-footer_fixed-bottom">
      <span *ngFor="let item of orderDetailStates[detailsData?.data?.status]?.operating" [routerLink]="['/pay/sure']" [queryParams]="{orderId: detailsData?.data?.id}">{{item.title}}</span>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
