.tab-product{
  height: 100%;
  overflow: scroll;
  background-color: #EEEEED;
  .weui-article{
    padding: 0 0 51px 0;
    margin: 0 4vw 0 4vw;
    p{
      margin: 0;
    }
    section{
      margin-bottom: 0;
      .weui-article-title{
        color: #A5A5A5;
        height: 6vh;
        line-height: 6vh;
        text-align: center;
      }
      .weui-article-img{
        border-bottom: 1px solid #F5F5F5;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: center center;
        width: 92vw;
        height: 36vw;
        border-radius: 8px 8px 0 0;
        //border-bottom: 1px solid red;
      }
      .weui-article-content{
        background-color: #FFFFFF;
        height: 8vh;
        line-height: 3.5vh;
        border-radius: 0 0 8px 8px;
        padding: 0 10px;
      }
    }
  }
}
