<div class="order-invoice">
  <app-header [option]="headerOption" (headerRightClick)="orderInvocAddClick()"></app-header>
  <div class="order-invoice-select">
    <div class="weui-cells weui-cells_checkbox">
      <label class="weui-cell weui-check__label" for="s11">
        <input
          type="radio" class="weui-check"
          name="checkbox" id="s11" value="noinvoice"
          [(ngModel)]="orderAddRadioRes.invoiceType"
          (change)="orderInvocRadioChanges()" />
        <i class="weui-icon-checked"></i>
        <span>不需要发票</span>
      </label>
      <div class="weui-cell">
        <label class="weui-cell__hd weui-check__label" for="s12" style="margin-right: 20px">
          <input
            type="radio" class="weui-check"
            name="checkbox" id="s12" value="individual"
            [(ngModel)]="orderAddRadioRes.invoiceType"
          />
          <i class="weui-icon-checked"></i>
          <span>个人</span>
        </label>
        <label class="weui-cell__bd weui-check__label" for="s13">
          <input
            type="radio" class="weui-check"
            name="checkbox" id="s13" value="company"
            [(ngModel)]="orderAddRadioRes.invoiceType"
            />
          <i class="weui-icon-checked"></i>
          <span>公司</span>
        </label>
      </div>
      <div class="weui-cell personal-input" *ngIf="orderAddRadioRes.invoiceType === 'individual'">
        <div class="weui-cell__bd">
          <input
            class="weui-input" type="text"
            placeholder="请填写发票抬头"
            [(ngModel)]="orderAddRadioRes.title" name="txt" />
        </div>
      </div>
      <div class="company-input" *ngIf="orderAddRadioRes.invoiceType === 'company'">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input
              class="weui-input" type="text"
              placeholder="请填写发票抬头"
              (blur)="orderInvocBlur($event)"
              [(ngModel)]="orderAddRadioRes.title" name="txt" />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input
              class="weui-input" type="text"
              placeholder="请填写纳税人识别号"
              (blur)="orderInvocBlur($event)"
              [(ngModel)]="orderAddRadioRes.number" name="txt" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-invoice-history">
    <div class="weui-cells__title" style="font-size: 0.85rem">已有发票信息</div>
    <div class="weui-cells" *ngIf="orderBill | async as orderBill; else loading">
      <div class="weui-cell"
           style="padding: 0"
           *ngFor="let item of orderBill?.datas"
           (touchstart)="orderBillTouchStart($event,item)"
           (touchend)="orderBillTouchEnd($event)"
      >
        <div (click)="orderBillClick($event,item)" style="width: 100%;padding: 10px 15px;">
          <div class="weui-cell__bd">
            <p>
              <span class="left">发票抬头</span>
              <span style="color: #727272;">{{item?.title}}</span>
            </p>
            <p *ngIf="item?.number" style="margin-top: 10px">
              <span class="left">税<span style="margin-left: 1.7rem;">号</span></span>
              <span style="color: #727272;">{{item?.number}}</span>
            </p>
            <p *ngIf="!(item?.number)" style="margin-top: 10px;visibility:hidden">
              <span class="left">占<span style="margin-left: 1.7rem;">位</span></span>
              <span style="color: #727272;">符</span>
            </p>
          </div>
          <div class="weui-cell__ft" (touchstart)="dialogDelShow($event,'ios', '确认删除当前发票？', item)">
            <span class="weui-badge">
              <i class="icon iconfont icon-guanbi" style=" font-size: 0.6rem;"></i>
            </span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="orderBill.datas.length === 0">
        <p style="
        padding-top: 20px;
        color: #E6E6E6;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center">暂无发票，添加一个吧！</p>
      </ng-container>
    </div>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
  <div class="order-invoice-toast">
    <weui-toast #addClientToast [type]="'success'" [text]="clientMsg" [icon]="''" [time]="2000"></weui-toast>
  </div>
  <div class="order-invoice-dialog">
    <weui-dialog #iosDialog [config]="configDialog"></weui-dialog>
  </div>
  <div class="order-invoice-mask" *ngIf="invoiceMaskShow">
    <div class="weui-cells weui-cells_checkbox" style="padding: 0">
      <div class="weui-cell" style="padding:  10px 0 10px 15px;">
        <div class="weui-cell__bd" style="text-align: center">
          <span style="vertical-align: middle;color: #737373;font-size: 0.85rem">发票信息修改</span>
        </div>
        <div class="weui-cell__ft" style="height: 100%;width: 2rem;text-align: center" (click)="closeInvoiceMask();">
          <i class="icon iconfont icon-guanbi" aria-hidden="true" style="font-size: 0.5rem;color: #ADADAD;"></i>
        </div>
      </div>
      <div class="weui-cell" style="padding: 0 15px 10px 15px;">
        <div class="weui-cell__bd">
          <input
            class="weui-input" type="text"
            placeholder="请输入新的发票抬头"
            [(ngModel)]="invoiceDataUpdate.title" name="title"
          />
          <input
            *ngIf="invoiceDataUpdate.invoiceType === 'company'"
            class="weui-input" type="text"
            placeholder="请填写新的纳税人识别号"
            [(ngModel)]="invoiceDataUpdate.number" name="number"
          />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <button
            *ngIf="invoiceDataUpdate.invoiceType === 'individual'"
            class="weui-btn"
            [disabled]="(!invoiceDataUpdate.title)"
            (click)="saveBtnClick()"
            [ngClass]="{
              'weui-btn_primary': (invoiceDataUpdate.title)
              }"
          >保存</button>
          <button
            *ngIf="invoiceDataUpdate.invoiceType === 'company'"
            class="weui-btn"
            [disabled]="(!invoiceDataUpdate.title || !invoiceDataUpdate.number)"
            (click)="saveBtnClick()"
            [ngClass]="{
              'weui-btn_primary': (invoiceDataUpdate.title && invoiceDataUpdate.number)
              }"
          >保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
