<div class="order-invoice">
  <app-header [option]="headerOption" (headerRightClick)="orderAddBillClick()"></app-header>
  <div class="order-invoice-select">
    <div class="weui-cells weui-cells_checkbox">
      <label class="weui-cell weui-check__label" for="s11">
        <input type="radio" class="weui-check" name="checkbox" id="s11" value="noinvoice" [(ngModel)]="orderAddRadioRes.invoiceType" (change)="radioResChanges()">
        <i class="weui-icon-checked"></i>
        <span>不需要发票</span>
      </label>
    </div>
    <div class="weui-cells weui-cells_checkbox">
      <div class="weui-cell">
        <label class="weui-cell__hd weui-check__label" for="s12" style="margin-right: 20px">
          <input type="radio" class="weui-check" name="checkbox" id="s12" value="individual" [(ngModel)]="orderAddRadioRes.invoiceType" (change)="radioResChanges()">
          <i class="weui-icon-checked"></i>
          <span>个人</span>
        </label>
        <label class="weui-cell__bd weui-check__label" for="s13">
          <input type="radio" class="weui-check" name="checkbox" id="s13" value="company" [(ngModel)]="orderAddRadioRes.invoiceType" (change)="radioResChanges()">
          <i class="weui-icon-checked"></i>
          <span>公司</span>
        </label>
      </div>
      <div class="weui-cell personal-input" *ngIf="orderAddRadioRes.invoiceType === 'individual'">
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请填写发票抬头" [(ngModel)]="orderAddRadioRes.title" name="txt" (change)="radioResChanges()">
        </div>
      </div>
      <div class="company-input" *ngIf="orderAddRadioRes.invoiceType === 'company'">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请填写发票抬头" [(ngModel)]="orderAddRadioRes.title" name="txt" (change)="radioResChanges()">
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请填写纳税人识别号" [(ngModel)]="orderAddRadioRes.number" name="txt" (change)="radioResChanges()">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-invoice-history">
    <div class="weui-cells__title" style="font-size: 0.85rem">已有发票信息</div>
    <div class="weui-cells" *ngIf="orderBill | async as orderBill; else loading">
      <div class="weui-cell" *ngFor="let item of orderBill?.datas" (click)="orderBillClick(item)">
        <div class="weui-cell__bd">
          <p>
            <span class="left">发票抬头</span>
            <span style="color: #8F8F8F;">{{item?.title}}</span>
          </p>
          <p *ngIf="item?.number">
            <span class="left">税<span style="margin-left: 2rem;">号</span></span>
            <span style="color: #8F8F8F;">{{item?.number}}</span>
          </p>
        </div>
      </div>
      <ng-container *ngIf="orderBill.datas.length === 0">
        <p style="
        padding-top: 20px;
        background: #F1F1F1;
        color: darkseagreen;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center">暂无发票，添加一个吧！</p>
      </ng-container>
    </div>
    <ng-template #loading>
      <div style="color: #03A9F4;text-align: center;font-size: 0.8rem">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
