.order-invoice{
  background-color: #F1F1F1;
  min-height: 100vh;
  .history-invoice{
    .weui-cells{
      .weui-cell{
        font-size: 1.2rem;
        .weui-cell__hd{
          color: #6A6A6A;
          margin-right: 15px;
        }
      }
    }
  }
}
