<div class="mine-detail">
  <div class="mine-detail-header">
    <app-header [option]="headerOption" (headerRightClick)="this.teamDetailMask.show()"></app-header>
  </div>
  <div class="mine-detail-list">
    <div class="weui-cells">
      <div class="weui-cells__title">
        <p style="font-size: 1.5rem">今日业绩</p>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>梳理名</p>
          <p style="font-size: 1.2rem;color: #888888;">
            <span>2019-03-01</span>
            <span>19:58:43</span>
          </p>
        </div>
        <div class="weui-cell__ft">
          <p style="color: #F9C847;">+650.00</p>
          <p style="color: #F9C847;font-size: 1.2rem">入账中</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>陆雨航</p>
          <p style="font-size: 1.2rem;color: #888888;">
            <span>2019-03-01</span>
            <span>19:58:43</span>
          </p>
        </div>
        <div class="weui-cell__ft">
          <p style="color: #E92E38;">+650.00</p>
          <p style="color: #E92E38;font-size: 1.2rem">入账失败</p>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>里可以</p>
          <p style="font-size: 1.2rem;color: #888888;">
            <span>2019-03-01</span>
            <span>19:58:43</span>
          </p>
        </div>
        <div class="weui-cell__ft">
          <p style="color: #89BB7A;">+650.00</p>
          <p style="color: #89BB7A;font-size: 1.2rem">已入账</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-detail-mask">
    <div class="recharge-mask">
      <weui-mask #teamDetailMask>
        <div class="weui-cells">
          <div class="status">
            <div class="weui-cells_title">
              按状态筛选
            </div>
            <div class="weui-flex">
              <div class="weui-flex__item">
                <button class="weui-btn weui-btn_primary">全部</button>
              </div>
              <div class="weui-flex__item">
                <button class="weui-btn">全部</button>
              </div>
              <div class="weui-flex__item">
                <button class="weui-btn">全部</button>
              </div>
              <div class="weui-flex__item">
                <button class="weui-btn">全部</button>
              </div>
            </div>
          </div>

          <div class="weui-cell">
            <div class="weui-cell__bd">
              <span style="vertical-align: middle">订单号</span>
            </div>
            <div class="weui-cell__ft">
              <span style="vertical-align: middle">654784275457</span>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <span style="vertical-align: middle">付款方式</span>
            </div>
            <div class="weui-cell__ft">
              <span style="vertical-align: middle">微信支付</span>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <span style="vertical-align: middle">需付款</span>
            </div>
            <div class="weui-cell__ft">
              <span style="vertical-align: middle">￥4568.00</span>
            </div>
          </div>
          <div class="btn-group">
            <div class="weui-flex">
              <div class="weui-flex__item" (click)="this.teamDetailMask.hide()">
                <button class="weui-btn weui-btn_primary">重置</button>
              </div>
              <div class="weui-flex__item" (click)="this.teamDetailMask.hide()">
                <button class="weui-btn weui-btn_primary" style="border-left: 1px solid white">确定</button>
              </div>
            </div>
          </div>

        </div>
      </weui-mask>
    </div>
  </div>
</div>
