<div class="mine-detail" *ngIf="earningList;else loading">
  <div class="mine-detail-header">
    <app-header [option]="headerOption" (headerRightClick)="this.teamDetailMask.show()"></app-header>
  </div>
  <div class="mine-detail-list" *ngIf="!filters?.userId && !filters?.earningStatus && !filters?.startDate && !filters?.endDate">
    <ng-container *ngIf="earningList.length !== 0">
      <div class="weui-cells" *ngFor="let item of earningList">
        <div class="weui-cells__title">
          <p style="font-size: 1.1rem">{{item?.times === (tDetailNewDate | date: 'yyyy-MM-dd')? '今日业绩': item?.times}}</p>
        </div>
        <div class="weui-cell" *ngFor="let prop of item.value" [routerLink]="['/mine/team/personal', {id: prop?.id}]">
          <div class="weui-cell__bd">
            <p>{{prop?.user?.nikeName}}</p>
            <p style="font-size: 0.9rem;color: #888888;">
              <span>{{prop?.createdDate}}</span>
            </p>
          </div>
          <div class="weui-cell__ft">
            <p [ngStyle]="{'color': earningStatusList[prop?.earningStatus][1]}">+{{prop?.earning}}</p>
            <p [ngStyle]="{'color': earningStatusList[prop?.earningStatus][1],'font-size': '0.9rem'}">{{earningStatusList[prop?.earningStatus][0]}}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <div style="text-align: center;color: #7E7E7E;font-weight: bold;margin-top: 30%" *ngIf="filtersSearchList.length === 0">
      <span>暂无收益明细</span>
    </div>
  </div>
  <div class="mine-filter-list" *ngIf="filters?.userId || filters?.earningStatus|| filters?.startDate|| filters?.endDate">
    <div class="weui-cells__title" >
      <span *ngIf="filters?.userId">{{filtersName}}<i class="fa fa-times" (click)="detailDelFilterClick('userId')"></i></span>
      <span *ngIf="filters?.earningStatus">{{earningStatusList[filters?.earningStatus][0]}}<i class="fa fa-times" (click)="detailDelFilterClick('earningStatus')"></i></span>
      <span *ngIf="filters?.startDate">
        {{filters?.startDate}}-{{filters?.endDate?filters?.endDate: '至今'}}
        <i class="fa fa-times" (click)="detailDelFilterClick('startDate')"></i>
      </span>
    </div>
    <ng-container *ngIf="filtersSearchList.length !== 0">
      <div class="weui-cells">
        <div class="weui-cell" style="background-color: #F2F1F0;">
          <div class="weui-cell__bd" style="color: #999999;">
            总计收益：￥23653.00
          </div>
          <div class="weui-cell__ft">
            168单
          </div>
        </div>
        <div class="weui-cell" [routerLink]="['/mine/team/personal', {id: 2}]">
          <div class="weui-cell__bd">
            <p>梳理名</p>
            <p style="font-size: 0.8rem;color: #888888;">
              <span>2019-03-01 19:58:43</span>
            </p>
          </div>
          <div class="weui-cell__ft">
            <p style="color: #F9C847;">+650.00</p>
            <p style="color: #F9C847;font-size: 0.8rem">入账中</p>
          </div>
        </div>
      </div>
    </ng-container>
    <div style="text-align: center;color: #7E7E7E;font-weight: bold;margin-top: 30%" *ngIf="filtersSearchList.length === 0">
      <span>暂无收益明细</span>
    </div>
  </div>
  <div class="mine-detail-mask">
    <div class="recharge-mask">
      <weui-mask #teamDetailMask>
        <div class="weui-cells">
          <div class="status">
            <div class="weui-cells_title">
              按状态筛选
            </div>
            <div class="weui-flex">
              <div class="weui-flex__item" *ngFor="let item of filterStatus; let i = index">
                <button class="weui-btn"
                        [ngClass]="{'weui-btn_primary': item.actives, 'weui-btn_default': !item.actives}"
                        [ngStyle]="{'color': item.actives?'white':''}"
                        (click)="detailFilterStatusClick(item)"
                >{{item.label}}</button>
              </div>
            </div>
          </div>
          <div class="timer">
            <div class="weui-cells_title">
              按时间筛选
            </div>
            <div class="weui-flex">
              <div class="weui-flex__item" style="flex: 2" (click)="detailFilterTimeSelClick('start')">
                <button class="weui-btn weui-btn_default">{{filtersTime.startDate}}</button>
              </div>
              <div class="weui-flex__item" style="flex: 0.3;text-align: center">
                至
              </div>
              <div class="weui-flex__item" style="flex: 2" (click)="detailFilterTimeSelClick('end')">
                <button class="weui-btn weui-btn_default">{{filtersTime.endDate}}</button>
              </div>
            </div>
          </div>
          <div class="member">
            <div class="weui-cells_title">
              成员筛选
            </div>
            <div class="weui-flex_list">
              <button  class="weui-btn" *ngFor="let item of filterMember"
                      [ngClass]="{'weui-btn_primary': item.actives, 'weui-btn_default': !item.actives}"
                      [ngStyle]="{'color': item.actives?'white':''}"
                      (click)="detailFilterMemberClick(item)"
              ><span>{{item.nikeName}}</span></button>
            </div>
          </div>
          <div class="btn-group">
            <div class="weui-flex">
              <div class="weui-flex__item" (click)="detailResetFilterClick('reset')">
                <button class="weui-btn weui-btn_primary">重置</button>
              </div>
              <div class="weui-flex__item" (click)="detailResetFilterClick('sure');teamDetailMask.hide()">
                <button class="weui-btn weui-btn_primary" style="border-left: 1px solid white">确定</button>
              </div>
            </div>
          </div>
        </div>
      </weui-mask>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
