<div class="order-client">
  <app-header [option]="headerOption"></app-header>
  <div class="search">
    <weui-searchbar
      [placeholder]="'请输入你想输入的内容'"
      (search)="onBarSearch($event)"
      (cancel)="onCancel()"
      (clear)="onBarCancel()"
      (submit)="onBarSubmit($event)">
    </weui-searchbar>
    <div class="weui-panel" style="margin-top: 0px;" *ngIf="value">
      <div class="weui-panel__hd">查询{{value}}</div>
      <div class="weui-panel__bd" *ngIf="items | async; let items; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let item of items">
          <div class="weui-cell__bd weui-cell_primary">
            <p>{{item}}</p>
          </div>
        </div>
        <div class="weui-media-box weui-media-box_text" *ngIf="items?.length === 0">Can't find any！</div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">Loading...</div>
        </div>
      </ng-template>
    <!--  <a class="weui-panel__ft" href="javascript:void(0);">
        <div class="weui-cell weui-cell_access weui-cell_link">
          <div class="weui-cell__bd">More</div>
          <div class="weui-cell__ft"></div>
        </div>
      </a>-->
    </div>
  </div>
  <div class="client-list">
    <div class="weui-cells__title">最近7天交易客户</div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p><span>王大锤</span><span>13888888888</span></p>
          <p style="font-size: 13px;color: #888888;">贵阳市南明区花果园</p>
        </div>
        <div class="weui-cell__ft">
          <button class="weui-btn weui-btn_warn">删除</button>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p><span>王大锤</span><span>13888888888</span></p>
          <p style="font-size: 13px;color: #888888;">贵阳市南明区花果园</p>
        </div>
        <div class="weui-cell__ft">
          <button class="weui-btn weui-btn_default" style="color: #7FB56E;">编辑</button>
        </div>
      </div>
    </div>
  </div>
</div>
