<div class="mine-wallet" *ngIf="mineBalance.balance;else loading">
  <div class="mine-wallet-header">
    <app-header [option]="headerOption" (headerRightClick)="balapayClick()"></app-header>
  </div>
  <div class="mine-wallet-balance">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd" [routerLink]="['/mine/wallet/recharge']">
          <p> <span>￥{{mineBalance?.balance || '0.00'}}</span></p>
          <p>账户余额</p>
        </div>
        <div class="weui-cell__ft" [routerLink]="['/mine/wallet/withdrawal']">
          <p> <span>￥{{mineBalance?.withdraw || '0.00'}}</span></p>
          <p>可提现</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-wallet-record">
    <div class="weui-cells__title">
      支出统计
    </div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p style="font-size: 0.85rem;color: #949494;">今日</p>
          <p>{{mineWalletOrderInfo?.today?.sum_amount}}单</p>
        </div>
        <div class="weui-cell__ft">
          <p style="font-size: 0.9rem;color: #F99998;">￥{{mineWalletOrderInfo?.today?.total?mineWalletOrderInfo?.today?.total: 0}}</p>
          <p style="font-size: 0.75rem;color: #CECECE;">{{mineWalletOrderInfo?.today?.startDay}}</p>
        </div>
      </div>
    </div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p style="font-size: 0.85rem;color: #949494;">本月</p>
          <p>{{mineWalletOrderInfo?.month?.sum_amount}}单</p>
        </div>
        <div class="weui-cell__ft">
          <p style="font-size: 0.9rem;color: #F99998;">￥{{mineWalletOrderInfo?.month?.total?mineWalletOrderInfo?.month?.total: 0}}</p>
          <p style="font-size: 0.75rem;color: #CECECE;">{{mineWalletOrderInfo?.month?.startDay}} ～ {{mineWalletOrderInfo?.month?.endDay}}</p>
        </div>
      </div>
    </div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p style="font-size: 0.85rem;color: #949494;">年度</p>
          <p>{{mineWalletOrderInfo?.year?.sum_amount}}单</p>
        </div>
        <div class="weui-cell__ft">
          <p style="font-size: 0.9rem;color: #F99998;">￥{{mineWalletOrderInfo?.year?.total?mineWalletOrderInfo?.year?.total: 0}}</p>
          <p style="font-size: 0.75rem;color: #CECECE;">{{mineWalletOrderInfo?.year?.startDay}} ～ {{mineWalletOrderInfo?.year?.endDay}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
