<div class="mine-wallet" *ngIf="mineBalance.balance;else loading">
  <app-header [option]="headerOption" (headerRightClick)="balapayClick()"></app-header>
  <div class="balance">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          账户余额
        </div>
        <div class="weui-cell__ft">
          <span style="color: #FF5E5E;">￥{{mineBalance?.balance || '0.00'}}</span>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          可提现
        </div>
        <div class="weui-cell__ft">
          <span style="color: #000000;">￥{{mineBalance?.withdraw || '0.00'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-btns">
    <div class="weui-cells">
      <div class="weui-flex">
        <div class="weui-flex__item" [routerLink]="['/mine/wallet/withdrawal']">
          <i class="fa fa-eercast"></i>
          <span>提现</span>
        </div>
        <div class="weui-flex__item" style="color: #99C38C;" [routerLink]="['/mine/wallet/recharge']">
          <i class="fa fa-address-card-o"></i>
          <span>充值</span>
        </div>
      </div>
    </div>
  </div>
  <div class="reminder">
    <p style="color: #7D7D7D;">提示：对余额的说明</p>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
