<div class="mine-wallet">
  <app-header [option]="headerOption"></app-header>
  <div class="balance">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          账户余额
        </div>
        <div class="weui-cell__ft">
          <span style="color: #FF5E5E;">￥10000.00</span>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          可提现
        </div>
        <div class="weui-cell__ft">
          <span style="color: #000000;">￥100.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mine-btns">
    <div class="weui-cells">
      <div class="weui-flex">
        <div class="weui-flex__item">
          <i class="fa fa-eercast"></i>
          <span>提现</span>
        </div>
        <div class="weui-flex__item" style="color: #99C38C;">
          <i class="fa fa-address-card-o"></i>
          <span>充值</span>
        </div>
      </div>
    </div>
  </div>
  <div class="reminder">
    <div class="weui-cells">
      <p style="color: #7D7D7D;">提示：对余额得说明</p>
    </div>
  </div>
</div>
