<div class="tab-client">
  <app-header [option]="headerOption" (headerRightClick)="onHeaderRightClick()"></app-header>
  <div class="tab-client-search">
    <weui-searchbar
      [placeholder]="'请输入你想输入的内容'"
      (search)="onBarSearch($event)"
      (cancel)="onBarClear()"
      (clear)="onBarCancel()"
      (submit)="onBarSubmit($event)">
    </weui-searchbar>
    <div class="weui-panel" style="margin-top: 0px;" *ngIf="value">
      <div class="weui-panel__hd">查询{{value}}</div>
      <div class="weui-panel__bd" *ngIf="searchItems | async; let searchItems; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let item of searchItems">
          <div class="weui-cell__bd weui-cell_primary">
            <p>{{item}}</p>
          </div>
        </div>
        <div class="weui-media-box weui-media-box_text" *ngIf="searchItems?.length === 0">Can't find any！</div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">Loading...</div>
        </div>
      </ng-template>
      <!--  <a class="weui-panel__ft" href="javascript:void(0);">
          <div class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">More</div>
            <div class="weui-cell__ft"></div>
          </div>
        </a>-->
    </div>
  </div>
  <div class="tab-client-alphabet">
    <ul>
      <li *ngFor="let item of clientList;let i = index">
        <span>{{item?.firstPY}}</span>
      </li>
    </ul>
  </div>
  <div class="tab-client-scroll">
     <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp [config]="infiniteloaderConfig">
       <div class="client-list" *ngFor="let item of clientList">
         <div class="weui-cells__title" [id]="item?.firstPY">{{item?.firstPY}}</div>
         <!--<div class="weui-cells">
           <div class="weui-cell" *ngFor="let list of item.value" (click)="actionSheetShow('ios', list)">
             <div class="weui-cell__bd">
               <p><span>{{list.name}}</span><span>{{list.phone}}</span></p>
               <p style="font-size: 1.2rem;color: #888888;">{{list.address}}</p>
             </div>
             <div class="weui-cell__ft">
               <button *ngIf="list.editState" class="weui-btn weui-btn_warn" (click)="list.editState=false">删除</button>
               <button *ngIf="!list.editState" class="weui-btn weui-btn_default" style="color: #7FB56E;" (click)="list.editState=true">编辑</button>
             </div>
           </div>
         </div>-->
         <div class="weui-cells">
           <div class="weui-cell" (touchmove)="onTouchMove($event, item)" (touchstart)="onTouchstart($event)">
             <div class="weui-cell__bd" (click)="this.rechargeMask.show()">
               <p><span>{{item.name}}</span></p>
             </div>
             <div class="weui-cell__ft">
               <button *ngIf="item.editState" class="weui-btn weui-btn_warn" (click)="clientDeleteClick(item.id)">删除</button>
               <button *ngIf="!item.editState" class="weui-btn weui-btn_default" style="color: #7FB56E;">编辑</button>
             </div>
           </div>
         </div>
       </div>
       <weui-button *ngIf="restartBtn" (click)="restart()">重新开始</weui-button>
     </weui-infiniteloader>
  </div>
  <div class="tab-client-mask">
    <weui-mask #rechargeMask>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__bd" style="text-align: center">
            <span style="vertical-align: middle;color: #000;">王大锤</span>
          </div>
          <div class="weui-cell__ft" (click)="this.rechargeMask.hide()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p>收货人：王明</p>
            <p>联系电话：18788888888</p>
            <p>收获地址：贵州省贵阳市花果园</p>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <p>收货人：王明</p>
            <p>联系电话：18788888888</p>
            <p>收获地址：贵州省贵阳市花果园</p>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
  <div class="tab-client-remind">
    <div class="client-dialog">
      <weui-dialog #iosDelDialog [config]="configDelDialog"></weui-dialog>
    </div>
  </div>
</div>

