<div class="tab-client">
  <app-header [option]="headerOption" (headerRightClick)="onHeaderRightClick()"></app-header>
  <div class="tab-client-search">
    <weui-searchbar
      [placeholder]="'请输入你想输入的内容'"
      (search)="onBarSearch($event)"
      (cancel)="onBarClear()"
      (clear)="onBarCancel()">
    </weui-searchbar>
   <!-- <div class="weui-panel" style="margin-top: 0;" *ngIf="searchKeyword">
      <div class="weui-panel__hd">查询关键字：【{{searchKeyword}}】</div>
      <div class="weui-panel__bd" *ngIf="searchItems | async; let searchItems; else loading">
        <div class="weui-cell weui-cell_access" *ngFor="let item of searchItems.datas">
          <div class="weui-cell__bd weui-cell_primary">
            <p>{{item.name}}</p>
          </div>
        </div>
        <div class="weui-media-box weui-media-box_text" *ngIf="searchItems.datas?.length === 0">查不到相关数据</div>
      </div>
      <ng-template #loading>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">搜索中...</div>
        </div>
      </ng-template>
    </div>-->
  </div>
  <div class="tab-client-alphabet">
    <ul>
      <li *ngFor="let item of clientList;let i = index">
        <span>{{item?.name}}</span>
      </li>
    </ul>
  </div>
  <div class="tab-client-scroll">
     <weui-infiniteloader (loadmore)="clientLoadMore($event)" [config]="clientloaderConfig">
       <div class="client-list" *ngFor="let item of clientList">
         <div class="weui-cells__title" [id]="item?.name">{{item?.name}}</div>
         <div class="weui-cells" >
           <div class="weui-cell" *ngFor="let prop of item.value" (touchmove)="onTouchMove($event, prop)" (touchstart)="onTouchstart($event)">
             <div class="weui-cell__bd" (click)="clientNameClick(prop, 'address')">
               <p><span>{{prop.name}}</span></p>
             </div>
             <div class="weui-cell__ft">
               <button *ngIf="prop.editState" class="weui-btn weui-btn_warn" (click)="clientDeleteClick(prop.id)">删除</button>
               <button *ngIf="!prop.editState" class="weui-btn weui-btn_default" style="color: #7FB56E;" (click)="clientNameClick(prop , 'update')">编辑</button>
             </div>
           </div>
         </div>
       </div>
     </weui-infiniteloader>
  </div>
  <div class="tab-client-address">
    <weui-mask #tabClientMask>
      <div class="client-address-content">
        <div class="weui-cells" style="margin-top: 0">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="text-align: center">
              <span style="color: #000;font-size: 1.2rem">{{clientName}}</span>
            </div>
            <div class="weui-cell__ft" (click)="this.tabClientMask.hide()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="scroll">
          <div class="scroll-remind" *ngIf="clientAddressList?.length === 0">
            <p>该客户暂无收货地址</p>
          </div>
          <div class="scroll-content" *ngFor="let item of clientAddressList" (click)="scrollAddressClick(item)">
            <p>收货人：{{item?.name}}</p>
            <p><span>电</span><span style="margin-left: 16px;">话</span>：{{item?.phone}}</p>
            <p><span>地</span><span style="margin-left: 16px;">址</span>：{{item?.address}}</p>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
  <div class="tab-client-remind">
    <div class="client-dialog">
      <weui-dialog #iosDelDialog [config]="configDelDialog"></weui-dialog>
    </div>
  </div>
</div>

