<div class="tab-client">
  <app-header [option]="headerOption" (headerRightClick)="onHeaderRightClick()"></app-header>
  <div class="tab-client-search">
    <weui-searchbar
      [placeholder]="'请输入你想查找的内容'"
      (search)="onBarSearch($event)"
      (cancel)="onBarClear()"
      (clear)="onBarCancel()">
    </weui-searchbar>
  </div>
  <div class="tab-client-alphabet">
    <ul>
      <li *ngFor="let item of clientList;let i = index" (click)="goTo(item?.name)">
        <span>{{item?.name}}</span>
      </li>
    </ul>
  </div>
  <div class="tab-client-scroll">
     <weui-infiniteloader (loadmore)="clientLoadMore($event)" [config]="clientloaderConfig">
       <ng-container *ngIf="clientList;else loading">
         <ng-container *ngIf="clientList.length !== 0;else remind">
           <div class="client-list" *ngFor="let item of clientList">
             <div class="weui-cells__title">{{item?.name}}</div>
             <div class="weui-cells" >
               <div class="weui-cell" style=" position: static;visibility: hidden;margin-top: -23px;" [id]="item?.name">{{item?.name}}</div>
               <div class="weui-cell" *ngFor="let prop of item.value" (touchmove)="onTouchMove($event, prop)" (touchstart)="onTouchstart($event)">
                 <div class="weui-cell__bd" (click)="clientNameClick(prop, 'address')">
                   <p><span>{{prop.name}}</span></p>
                 </div>
                 <div class="weui-cell__ft">
                   <button *ngIf="prop.editState" class="weui-btn weui-btn_warn" (click)="clientDeleteClick(prop.id)">删除</button>
                   <button *ngIf="!prop.editState" class="weui-btn weui-btn_default" style="color: #7FB56E;" (click)="clientNameClick(prop , 'update')">编辑</button>
                 </div>
               </div>
             </div>
           </div>
         </ng-container>
         <ng-template #remind>
           <div style="text-align: center;color: #7E7E7E;font-weight: bold;margin-top: 30%">
             <span>暂无客户，</span>
             <span style="color: #87BA77;" [routerLink]="['/client/add', {id: null, status: 'add'}]">点击添加</span>
           </div>
         </ng-template>
       </ng-container>
       <ng-template #loading>
         <app-loading></app-loading>
       </ng-template>
     </weui-infiniteloader>
  </div>
  <div class="tab-client-address">
    <weui-mask #tabClientMask>
      <div class="client-address-content">
        <div class="weui-cells" style="margin-top: 0">
          <div class="weui-cell">
            <div class="weui-cell__bd" style="text-align: center">
              <span style="color: #000;font-size: 1.2rem">{{clientName}}</span>
            </div>
            <div class="weui-cell__ft" style="height: 100%;width: 2rem;" (click)="this.tabClientMask.hide()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="scroll">
          <div class="scroll-remind" *ngIf="clientAddressList?.length === 0">
            <p style="color: #ADADB0;">该客户暂无收货地址</p>
          </div>
          <div class="scroll-content" style="border-bottom: 1px solid #E6E6E6;padding-bottom: 5px;" *ngFor="let item of clientAddressList" (click)="scrollAddressClick(item)">
            <p>收货人：{{item?.name}}</p>
            <p><span>电</span><span style="margin-left: 16px;">话</span>：{{item?.phone}}</p>
            <p><span>地</span><span style="margin-left: 16px;">址</span>：{{item?.address}}</p>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
  <div class="tab-client-remind">
    <div class="client-dialog">
      <weui-dialog #iosDelDialog [config]="configDelDialog"></weui-dialog>
    </div>
  </div>
</div>

