.mine-user-name{
  height: 100vh;
  overflow: scroll;
  background-color: #F5F5F5;
  font-size: 0.85rem;
  .weui-cells{
    .weui-cell__bd{
      .weui-input{
        font-size: 0.85rem;
        color: #6F6F6F;
      }
    }
  }
  .mine-user-name-toast{
    ::ng-deep .weui-toast {
      height: 4vh;
      line-height: 4vh;
      font-size: 0.85rem;
      width: unset;
      min-height: 0;
      min-width: 12.6em;
      transform: translateX(-50%);
      border-radius: 4px;
      padding: 0 10px;
      top: 90%;
      margin-left: 0;
      .weui-icon_toast{
        margin: 0;
      }
    }
  }
}
