.wallet-success{
  height: 100vh;
  background-color: #F1F1F1;
  position: relative;
  overflow: hidden;
  .weui-msg{
    background: white;
    padding-bottom: 1px;
    margin: 15px 15px 0 15px;
  }
}
