<div class="mine-team" *ngIf="mineTeamDate;else loading">
  <div class="mine-team-header">
    <app-header [option]="headerOption" (headerRightClick)="mineTeamInClient()"></app-header>
  </div>
  <div class="mine-team-earnings">
    <p style="color: #ffffff;font-size: 1.1rem">
      <span>￥ </span>{{mineTeamDate?.mainSum}}
    </p>
    <p style="color: #ffffff;font-size: 0.75rem;margin-top: 10px">团队总收益</p>
  </div>
  <div class="mine-team-tab">
    <weui-navbar>
      <weui-tab heading="月度" (select)="onSelect($event)" style="height: 100%">
        <article class="weui-article" style="height: 100%">
          <div class="list">
            <div class="weui-cells">
              <div class="weui-cell">
                <div class="weui-cell__bd"></div>
                <div class="weui-cell__ft">
                  <weui-date-picker
                    [placeholder]="yearMonthPickerTime"
                    [min]="yearMonthPicker.min"
                    [max]="yearMonthPicker.max"
                    type="date-ym"
                    [(ngModel)]="yearMonthPickerTime"
                    name="date-ym"
                    (ngModelChange)="selectMonthClick()">
                  </weui-date-picker>
                  <i class="fa fa-sort-down"></i>
                </div>
              </div>
            </div>
            <div class="list-scroll">
              <weui-infiniteloader (loadmore)="onLoadMore($event)" [config]="infiniteloaderConfig">
                <ng-container *ngIf="!listLoading">
                  <div class="list-scroll-cell" style="background: #E7F2FF;" *ngFor="let item of mineTeamDate?.team?.reverse();">
                  <div class="box" *ngIf="item.width !== '0'" style="background: #AFD5FF" [ngStyle]="{'width':item.width + '%'}"></div>
                  <div class="text">
                    <p class="pull-left">{{item?.nikeName}}</p>
                    <p class="pull-right">{{item?.sum_amount_paid}}</p>
                  </div>
                </div>
                </ng-container>
                <app-loading *ngIf="listLoading"></app-loading>
              </weui-infiniteloader>
            </div>
          </div>
        </article>
      </weui-tab>
      <weui-tab heading="年度" (select)="onSelect($event)" style="height: 100%">
        <article class="weui-article" style="height: 100%">
          <div class="list">
            <div class="weui-cells">
              <div class="weui-cell">
                <div class="weui-cell__bd">
                </div>
                <div class="weui-cell__ft">
                  <weui-picker
                    [placeholder]="yearPickerTime"
                    required
                    [groups]="year"
                    [(ngModel)]="yearPickerTime"
                    name="item"
                    (ngModelChange)="selectYearClick()">
                  </weui-picker>
                  <i class="fa fa-sort-down"></i>
                </div>
              </div>
            </div>
            <div class="list-scroll">
              <weui-infiniteloader (loadmore)="onLoadMore($event)" [config]="infiniteloaderConfig">
                <ng-container *ngIf="!listLoading">
                  <div class="list-scroll-cell" style="background: #FFEEEE;" *ngFor="let item of mineTeamDate?.team?.reverse();">
                    <div *ngIf="mineTeamDate" class="box" style="background: #FEA6A5;" [ngStyle]="{'width':item.width + '%'}"></div>
                    <div class="text">
                      <p class="pull-left">{{item?.nikeName}}</p>
                      <p class="pull-right">{{item?.sum_amount_paid}}</p>
                    </div>
                  </div>
                </ng-container>
                <app-loading *ngIf="listLoading"></app-loading>
              </weui-infiniteloader>
            </div>
          </div>
        </article>
      </weui-tab>
    </weui-navbar>
  </div>
  <div class="mine-team-shared" *ngIf="false">
    <p>暂无团队</p>
    <p style="margin-top: 10px">快起组建自己的团队吧</p>
    <p style="color: #77B1F1;margin-top: 10px">分享/邀请</p>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
