<div class="mine-team" *ngIf="mineTeamDate;else loading">
  <div class="mine-team-header">
    <app-header [option]="headerOption" (headerRightClick)="mineTeamInClient()"></app-header>
  </div>
  <div class="mine-team-earnings">
    <p style="color: #EA5559;font-size: 1.5rem">{{mineTeamDate?.mainSum}}</p>
    <p style="color: #6E6E6E;font-size: 1.1rem">团队总收益</p>
  </div>
  <div class="mine-team-tab">
    <weui-navbar>
      <weui-tab heading="月度" (select)="onSelect($event)" style="height: 100%">
        <article class="weui-article" style="height: 100%">
          <div class="list">
            <div class="weui-cells">
              <div class="weui-cell">
                <div class="weui-cell__bd" (click)="selectMonthClick()">
                  <span>按月选择</span>
                </div>
                <div class="weui-cell__ft">
                  <span>本月收益：￥{{mineTeamDate?.detailsSum}}</span>
                </div>
              </div>
            </div>
            <div class="list-scroll">
              <weui-infiniteloader (loadmore)="onLoadMore($event)" [config]="infiniteloaderConfig">
                <ng-container *ngIf="!listLoading">
                  <div class="list-scroll-cell" *ngFor="let item of mineTeamDate?.team?.reverse();">
                  <div class="box" [ngStyle]="{'width':(((item?.sum_amount_paid * 100) / maxData).toFixed(1)) + '%'}"></div>
                  <div class="text">
                    <p class="pull-left">{{item?.nikeName}}</p>
                    <p class="pull-right">{{item?.sum_amount_paid}}</p>
                  </div>
                </div>
                </ng-container>
                <app-loading *ngIf="listLoading"></app-loading>
              </weui-infiniteloader>
            </div>
          </div>
        </article>
      </weui-tab>
      <weui-tab heading="年度" (select)="onSelect($event)" style="height: 100%">
        <article class="weui-article" style="height: 100%">
          <div class="list">
            <div class="weui-cells">
              <div class="weui-cell">
                <div class="weui-cell__bd" (click)="selectYearClick()">
                  <span>按年选择</span>
                </div>
                <div class="weui-cell__ft">
                  <span>本年收益：￥{{mineTeamDate?.detailsSum}}</span>
                </div>
              </div>
            </div>
            <div class="list-scroll">
              <weui-infiniteloader (loadmore)="onLoadMore($event)" [config]="infiniteloaderConfig">
                <ng-container *ngIf="!listLoading">
                  <div class="list-scroll-cell" *ngFor="let item of mineTeamDate?.team?.reverse();">
                    <div class="box" [ngStyle]="{'width':(((item?.sum_amount_paid * 100) / maxData).toFixed(1)) + '%'}"></div>
                    <div class="text">
                      <p class="pull-left">{{item?.nikeName}}</p>
                      <p class="pull-right">{{item?.sum_amount_paid}}</p>
                    </div>
                  </div>
                </ng-container>
                <app-loading *ngIf="listLoading"></app-loading>
              </weui-infiniteloader>
            </div>
          </div>
        </article>
      </weui-tab>
    </weui-navbar>
  </div>
  <div class="mine-team-shared" *ngIf="false">
    <p>暂无团队</p>
    <p style="margin-top: 10px">快起组建自己的团队吧</p>
    <p style="color: #77B1F1;margin-top: 10px">分享/邀请</p>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
