.mine-team{
  height: 100vh;
  overflow: hidden;
  background-color: #F1F1F1;
  position: relative;
  .mine-team-tab{
    width: 100%;
    position: absolute;
    top: 182px;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    .weui-article{
      padding: 0;
      .list{
        height: 100%;
        position: relative;
        .weui-cells{
          margin-top: 0;
          .weui-cell{
            .weui-cell__bd{
              span{
                color: white;
                background-color: #1AAD19;
                display: inline-block;
                padding: 3px 10px;
                font-size: 1.3rem;
                border-radius: 5px;
              }
            }
            .weui-cell__ft{
              font-size: 1.3rem;
              color: #757576;
            }
          }
        }
        .list-scroll{
          position: absolute;
          top: 50px;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0 15px;
          .list-scroll-cell{
            width: 100%;
            height: 30px;
            background-color: #DAEBD1;
            position: relative;
            border-radius: 5px;
            margin-bottom: 10px;
            .box{
              position: absolute;
              //width: 80%;
              top: 0;
              left: 0;
              bottom: 0;
              border-radius: 5px;
              background: #89C56B;
            }
            .text{
              position: absolute;
              width: 100%;
              height: 30px;
              line-height: 30px;
              top: 0;
              left: 0;
              bottom: 0;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
  .mine-team-earnings{
    margin-top: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
  }
  .mine-team-shared{
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    transform: translateY(-60%);
    text-align: center;
    font-size: 1.5rem;
  }
}
body .weui-picker{
  top: 30%;
  //transform: translateY(-50%);
  bottom: unset;
}
