<div class="wallet-recharge">
  <app-header [option]="headerOption"></app-header>
  <div class="wallet-recharge-input">
    <div class="weui-cells__title">充值后，您可方便快捷的使用余额支付。</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">￥</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入金额号" [(ngModel)]="rechargeAmount">
        </div>
      </div>
    </div>
  </div>
  <div class="recharge-button">
    <button class="weui-btn weui-btn_primary" [ngClass]="{'weui-btn_disabled': !rechargeAmount}" [disabled]="!rechargeAmount" (click)="this.rechargeClick()">立即充值</button>
  </div>
  <div class="recharge-mask">
    <weui-mask #rechargeMask>
      <div class="weui-cells">
        <div class="weui-cell" style="padding: 10px 0 10px 15px">
          <div class="weui-cell__bd" style="text-align: center">
            <span style="vertical-align: middle">付款详情</span>
          </div>
          <div class="weui-cell__ft" style="text-align: center;width: 2rem" (click)="this.rechargeMask.hide()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <span style="vertical-align: middle">订单号</span>
          </div>
          <div class="weui-cell__ft">
            <span style="vertical-align: middle">{{rechargeOrderSn}}</span>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <span style="vertical-align: middle">付款方式</span>
          </div>
          <div class="weui-cell__ft">
            <span style="vertical-align: middle">微信支付</span>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <span style="vertical-align: middle">需付款</span>
          </div>
          <div class="weui-cell__ft">
            <span style="vertical-align: middle">￥{{rechargeAmount}}</span>
          </div>
        </div>
        <div class="weui-cell" (click)="rechargePayClick()">
          <div class="weui-cell__bd">
            <button class="weui-btn weui-btn_primary">立即支付</button>
          </div>
        </div>
      </div>
    </weui-mask>
  </div>
  <div class="weui-dialog-pay">
    <app-dialog-pay
      *ngIf="mineWalletPayShow"
      [config]="mineWalletPayConfig"
      (dialogPayOnchange)="onDialogPayClick($event)"
      (dialogPayDestroy)="onDialogPayClick($event)">
    </app-dialog-pay>
  </div>
  <div class="wallet-recharge-dialog">
    <weui-dialog #iosPayWay [config]="iosPayWayConfig" ></weui-dialog>
  </div>
</div>
