.pay-way{
  height: 100vh;
  background-color: #F1F1F1;
  .pay-way-cash{
    .weui-cells{
      text-align: center;
      padding-bottom: 10px;
      p{
        margin-top: 10px;
      }
    }
  }
  .pay-way-sure{
    padding: 15px;
  }
  .weui-dialog-pay{
    .weui-dialog{
      max-width: 86vw;
      width: 86vw;
      padding: 1vh 3vw 3vh 3vw;
    }
  }
}
