<div class="pay-way" *ngIf="payDetailsData; else loading">
  <app-header [option]="headerOption"></app-header>
  <div class="pay-way-cash">
    <div class="weui-cells">
        <p style="font-size: 1.1rem">订单编号：{{payDetailsData?.sn}}</p>
        <p style="color: #FF2525;font-size:1.2rem;">￥{{payDetailsData?.amount}}</p>
        <p style="color: #CDCDCD;font-size: 1rem;" *ngIf="timer">
        {{timer}}
        </p>
    </div>
  </div>
  <div class="pay-way-select">
    <div class="weui-cells">
      <div class="weui-panel">
        <div class="weui-panel__hd" style="font-size: 1.1rem;color: #000;">选择支付方式</div>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
              <label class="weui-cell weui-cells_checkbox" for="s12">
                  <div class="weui-cell__hd">
                    <i class="icon iconfont icon-qianbaozhifu" style="width:20px;margin-right:5px;display:block;color: #4DCB6B;"></i>
                  </div>
                  <div class="weui-cell__bd weui-cell_primary">
                    <p>钱包支付</p>
                  </div>
                  <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio" id="s12" value="wallet" [(ngModel)]="radioRes.radio" (change)="radioResChanges()">
                    <i class="weui-icon-checked"></i>
                  </div>
              </label>
              <label class="weui-cell weui-cells_checkbox"  for="s13">
                <div class="weui-cell__hd">
                  <i class="fa fa-weixin" style="width:20px;margin-right:5px;display:block;color: #4DCB6B;"></i>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                  <p>微信支付</p>
                </div>
                <div class="weui-cell__ft">
                  <input type="radio" class="weui-check" name="radio" id="s13" value="weixin" [(ngModel)]="radioRes.radio" (change)="radioResChanges()">
                  <i class="weui-icon-checked"></i>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-dialog-pay">
    <app-dialog-pay *ngIf="dialogPayShow" [config]="dialogPayConfig" (dialogPayOnchange)="onDialogPayClick($event)" (dialogPayDestroy)="onDialogPayClick($event)"></app-dialog-pay>
  </div>
  <div class="pay-way-sure">
    <button class="weui-btn weui-btn_primary" (click)="paySureClick()">立即支付</button>
  </div>
  <div class="pay-way-dialog">
    <weui-dialog #iosPayWay [config]="iosPayWayConfig" ></weui-dialog>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
