<div class="pay-way" *ngIf="payDetailsData;else loading">
  <app-header [option]="headerOption"></app-header>
  <div class="pay-way-cash">
    <div class="weui-cells">
        <p style="font-size: 0.85rem;color: #838383;">订单编号：{{payDetailsData?.sn}}</p>
        <p style="color: #EE605F;font-size:1rem;">￥{{payDetailsData?.amount}}</p>
        <ng-container *ngIf="!payDetailsData?.amountLog?.payType">
          <p style="color: #D7D7D7;font-size: 0.8rem;">
            {{timer}}
          </p>
        </ng-container>
      <p style="color: #1AAD19;font-size: 1rem;" *ngIf="payDetailsData?.amountLog?.payType">已付款，请勿重复提交！</p>
    </div>
  </div>
  <div class="pay-way-select" *ngIf="!payDetailsData?.amountLog?.payType">
    <div class="weui-flex">
      <div class="weui-flex__item" [ngClass]="{'active': radioRes.radio === 'wallet'}">
        <p>
          <i style="color: #F19F65;"
             class="icon iconfont icon-qianbaozhifu1"></i>
        </p>
        <p>钱包支付</p>
        <input type="radio" class="weui-check" name="radio" id="s12" value="wallet" [(ngModel)]="radioRes.radio">
      </div>
      <div class="weui-flex__item" [ngClass]="{'active': radioRes.radio === 'weixin'}">
        <p>
          <i style="color: #24AF41; font-size: 2.2rem;"
            class="icon iconfont icon-weixinzhifu1"></i>
        </p>
        <p>微信支付</p>
        <input type="radio" class="weui-check" name="radio" id="s13" value="weixin" [(ngModel)]="radioRes.radio">
      </div>
    </div>
  </div>
  <div class="pay-way-mask" *ngIf="dialogPayShow">
    <div class="weui-mask">
      <div class="weui-dialog">
        <div class="weui-dialog-title">
          {{config.title}}
          <div style="width: 2.3rem;margin-right: -0.5rem;" class="t-float pull-right" (click)="onSelfDestroy()">
            <i class="icon iconfont icon-guanbi" style="font-size: 0.7rem"></i>
          </div>
        </div>
        <div class="weui-dialog-content" (click)="paySureClick('input')">
          <span class="c-n" *ngFor="let item of config.value" [ngStyle]="{'background': item}"></span>
        </div>
        <div class="weui-dialog-pwd" [routerLink]="['/mine/setting/paypwd']">
          <div class="weui-cell__bd"></div>
          <div class="weui-cell__ft" style="font-size: 0.7rem;color: #BFBFBF;">忘记支付密码</div>
        </div>
      </div>
    </div>
  </div>
  <div class="pay-way-sure">
    <button class="weui-btn weui-btn_primary" *ngIf="!payDetailsData?.amountLog?.payType" (click)="paySureClick('pay')">立即支付</button>
    <button class="weui-btn weui-btn_primary" *ngIf="payDetailsData?.amountLog?.payType" [routerLink]="['/tab/home']">返回首页</button>
  </div>
  <div class="pay-way-input" (input)="onInput($event)" (blur)="payWayBlur()">
    <label for="password" ></label>
    <input #passwordInput id="password" type="number" name="password" maxlength="6" pattern="[0-9]*">
  </div>
  <div class="pay-way-dialog">
    <weui-dialog #iosPayWay [config]="iosPayWayConfig" ></weui-dialog>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
