.mine-user{
  height: 100vh;
  overflow: scroll;
  background-color: #F5F5F5;
  .mine-user-info {
    .weui-cells{
      font-size: 0.85rem;
      .weui-cell{
        color: #7D7D7D;
        .weui-cell__ft{
          color: #7D7D7D;
        }
      }
    }
  }
  .mine-user-photo{
    .weui-mask{
      background: rgba(0, 0, 0, 0.4);
    }
    .weui-actionsheet{
      background-color: transparent;
      .weui-actionsheet__cell{
        font-size: 1rem;
        &:before{
          border-top:1px solid #F3F3F3;
        }
      }
      .weui-actionsheet__menu{
        border-radius: 3% 3% 0 0;
      }
      .weui-actionsheet__action{
        border-top: 1px solid #F3F3F3;
        margin-top: 0;
      }
    }
  }
  .mine-user-gender{
    .weui-dialog{
      .weui-cells{
        .weui-cells_radio{
          .weui-cell{
            .weui-cell__bd{
              p{
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }
  .mine-user-toast{
   .weui-toast {
     height: 4vh;
     line-height: 4vh;
     font-size: 0.85rem;
     width: unset;
     min-height: 0;
     min-width: 12.6em;
     transform: translateX(-50%);
     border-radius: 4px;
     padding: 0 10px;
     top: 90%;
     margin-left: 0;
     .weui-icon_toast{
       margin: 0;
     }
    }
  }
}
