<div class="mine-user">
  <app-header [option]="headerOption"></app-header>
  <div class="mine-user-info">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" (click)="actionSheetShow('ios', photo)">
        <div class="weui-cell__bd">头像</div>
        <div class="weui-cell__ft">
          <img class="weui-media-box__thumb" style="width: auto;height:50px;display: block;border-radius: 50%" [src]="tabMineUserInfo?.headImage" alt="">
        </div>
      </div>
      <div class="weui-cell weui-cell_access" [routerLink]="['/mine/proname']">
        <div class="weui-cell__bd">用户名</div>
        <div class="weui-cell__ft">
          <span style="vertical-align:middle;">
            {{tabMineUserInfo?.nikeName}}
          </span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access" (click)="onShow('ios')">
        <div class="weui-cell__bd">性别</div>
        <div class="weui-cell__ft">
          <span style="vertical-align:middle;">
            {{tabMineUserInfo?.sex === 'Man'? '男':'女'}}
          </span>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">手机号</div>
        <div class="weui-cell__ft">
          <span style="vertical-align:middle;color: #CBCBCB;">{{tabMineUserInfo?.phone}}</span>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">工号</div>
        <div class="weui-cell__ft">
          <span style="vertical-align:middle;color: #CBCBCB;">{{tabMineUserInfo?.workId}}</span>
        </div>
      </div>
      <div class="weui-cell weui-cell_access" (click)="mineUserAddressClick()">
        <div class="weui-cell__bd">地区</div>
        <div class="weui-cell__ft">
          <span style="vertical-align:middle;">
            {{tabMineUserInfo?.address}}
          </span>
         <!-- <weui-city-picker
            required placeholder="Pick a City"
            [(ngModel)]="res.city" name="city"
            [data]="cityData" (change)="cityChange($event)">
          </weui-city-picker>-->
        </div>
      </div>
    </div>
  </div>
  <div class="mine-user-photo">
    <weui-actionsheet #iosActionSheet [menus]="actionSheetMenus" [config]="configActionSheet"></weui-actionsheet>
    <!--获取摄像头-->
    <input #photo type="file" accept="image/*" style="display: none">
  </div>
  <div class="mine-user-gender">
    <weui-dialog #ios [config]="config"></weui-dialog>
  </div>
  <div class="mine-user-toast">
    <weui-toast #success [text]="updateSexMsg" [icon]="''" [time]="1000"></weui-toast>
  </div>
</div>
