<div class="home">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <h5 class="weui-media-box__title">总收益</h5>
        <h3 class="weui-media-box__desc">￥154874.00</h3>
      </div>
    </div>
  </div>
  <div class="weui-grids">
    <div class="weui-grid" *ngFor="let item of tradeStatistics;let i = index">
      <div class="weui-flex top">
        <div class="weui-flex__item">
          <div class="time" [ngStyle]="{'background': item.bgColor}">{{item.timeTag}}</div>
        </div>
        <div class="weui-flex__item">
          <div class="amount">{{item.amount}}笔</div>
        </div>
      </div>
      <div class="weui-flex center">
        <div class="weui-flex__item">
          <div class="placeholder">￥{{item.money}}0</div>
        </div>
      </div>
      <div class="weui-flex bottom">
        <div class="weui-flex__item" [ngStyle]="{'padding-top': !item.dateEnd?'1vh':''}">
          <div class="placeholder time">{{item.dateStart}}</div>
          <div class="placeholder time">{{item.dateEnd}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">下单</div></div>
    <div class="weui-flex__item"><div class="placeholder">提现</div></div>
  </div>
</div>

