.home{
  background-color: #F1F1F1;
  .weui-panel_access{
    .weui-panel__bd{
      .weui-media-box{
        .weui-media-box__title{
          font-size: 13px;
          color: #CACACA;
        }
        .weui-media-box__desc{
          color: #424242;
          font-size: 20px;
          font-min-size: 15px;
          letter-spacing: 1px;
        }
      }
    }
  }
  .weui-grids{
    background-color: #fff;
    margin-top: 1vh;
  }
}
