@import '~ngx-weui/index';
.order-place{
  height: 100vh;
  background-color: #F1F1F1;
  .adress{
    color: #C1C1C1;
    font-size: 1.3rem;
  }
  .weui-panel.weui-panel_access.commodity{
    margin-bottom: 50px;
    .weui-panel__bd{
      .weui-cell{
        .weui-cell__ft{
          span.minus > em{
            font-size: 3rem;
          }
          em{
            font-style:normal;
            font-size: 2rem;
          }
          span{
            border: none;
            height: 40px;
            line-height: 40px;
          }
          .input{
            line-height: 30px;
          }

        }
      }
    }
  }
  .weui-footer{
    bottom: 0;
    .weui-flex{
      .weui-flex__item{
        height: 50px;
        line-height: 50px;
      }
      .weui-flex__item:nth-child(1){
        text-align: left;
        flex: 2;
        background: white;
        padding-left: 15px;
      }
      .weui-flex__item:nth-child(2){
        background: #7FB56E;
      }
    }
  }
}
