<div class="order-place">
  <div class="order-place-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-place-address">
    <div class="weui-cells" [routerLink]="['./orclient']">
      <div class="weui-cell">
        <div class="weui-cell__bd">请选择一个收获地址</div>
      </div>
    </div>
  </div>
  <div class="order-place-goods">
    <div class="weui-panel weui-panel_access commodity">
      <div class="weui-panel__hd" style="font-size: 1.4rem">商品信息</div>
      <weui-infiniteloader #comp [config]="infiniteloaderConfig">
        <div class="weui-panel__bd">
          <div class="weui-cell" *ngFor="let item of goodsInfo; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item.mainImage"
                   alt="暂无">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1.3rem;">{{item.title}}</p>
              <p style="font-size: 1rem;color: #888888;">{{item.info}}</p>
              <p style="font-size: 1.2rem;color: #FF2D2D;margin-top: 1vh">￥{{item.originalPrice}}</p>
            </div>
            <div class="weui-cell__ft">
              <weui-stepper [(ngModel)]="goodsInfo[i].amount" [min]="0" [max]="1000000" (change)="goodsTotalCount($event, i)"></weui-stepper>
            </div>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-place-bill">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" [routerLink]="['./orinvoice']">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">发票</span>
        </div>
        <div class="weui-cell__ft">
          <span>不需要发票</span>
          <i></i>
        </div>
      </div>
      <div class="weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <span style="vertical-align: middle">备注：</span>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="点击添加备注" name="txt">
        </div>
      </div>
    </div>
  </div>
  <div class="weui-footer weui-footer_fixed-bottom" *ngIf="totalPrice">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span style="color: #2A2A2A;font-size: 1.5rem">共计</span>
        <span style="color: #FF3535;font-size: 1.5rem">￥{{totalPrice}}</span>
      </div>
      <div class="weui-flex__item" (click)="submitOrder();">
        <span style="color: white;font-size: 1.5rem">提交订单</span>
      </div>
    </div>
  </div>
  <div class="order-place-toast">
    <weui-toast #success [text]="'请先填写收货地址'" [icon]="''" [time]="1000"></weui-toast>
  </div>
</div>


