<div class="setting-paypwd">
  <app-header [option]="headerOption"></app-header>
  <div class="password" *ngIf="!passwordShow">
    <div class="weui-dialog-title">
      设置6位数支付密码
    </div>
    <div class="weui-dialog-content" (input)="onPsswordInput($event)">
      <label for="password"></label>
      <input id="password" class="password" type="number" name="password" maxlength="6" pattern="[0-9]*" [hidden]="inputShow" autofocus>
      <span class="c-n" *ngFor="let item of passwordConfig.value">{{item}}</span>
    </div>
  </div>
  <div class="firpassword" *ngIf="passwordShow">
    <div class="weui-dialog-title">
      再次输入密码
    </div>
    <div class="weui-dialog-content" (input)="onFirePsswordInput($event)">
      <label for="password"></label>
      <input id="firpassword" class="password" type="number" name="firpassword" maxlength="6" pattern="[0-9]*" [hidden]="inputShow" autofocus>
      <span class="c-n" *ngFor="let item of firpasswordConfig.value">{{item}}</span>
    </div>
  </div>
  <div class="setting-mobile__error" *ngIf="errorShow">
    <i class="weui-icon-warn"></i>
    <span>两次输入的密码不一致,请重新输入</span>
  </div>
  <div class="setting-mobile-toast">
    <weui-toast #success [text]="'修改成功'" [icon]="''" [time]="2000"></weui-toast>
  </div>
</div>

