<div class="setting-paypwd">
  <app-header [option]="headerOption"></app-header>
  <div class="password" *ngIf="!passwordShow">
    <div class="weui-dialog-title">
      设置6位数支付密码
    </div>
    <div class="weui-dialog-content" (input)="onPsswordInput($event)">
      <label for="password"></label>
      <input id="password" class="password" type="number" name="password" maxlength="6" pattern="[0-9]*" [hidden]="inputShow" autofocus>
      <span class="c-n" *ngFor="let item of passwordConfig.value">{{item}}</span>
    </div>
  </div>
  <div class="firpassword" *ngIf="passwordShow">
    <div class="weui-dialog-title">
      再次输入密码
    </div>
    <div class="weui-dialog-content" (input)="onFirePsswordInput($event)">
      <label for="password"></label>
      <input id="firpassword" class="password" type="number" name="firpassword" maxlength="6" pattern="[0-9]*" [hidden]="inputShow" autofocus>
      <span class="c-n" *ngFor="let item of firpasswordConfig.value">{{item}}</span>
    </div>
  </div>
  <div class="setting-mobile__error" *ngIf="errorShow">
    <i class="weui-icon-warn"></i>
    <span>两次输入的密码不一致,请重新输入</span>
  </div>
  <div class="setting-password-toast">
    <weui-toast #success [text]="setPwdToastTxt" [icon]="''" [time]="1000"></weui-toast>
  </div>
  <div class="setting-paypwd-mask">
    <weui-mask #maskContent>
      <div class="weui-cells" style="width: 95vw">
        <div class="weui-cell__title">
          <p style="text-align: center;padding: 10px">为了安全，请验证身份</p>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">当前手机号：</label></div>
          <div class="weui-cell__bd">
            <span>{{mobilePhoneString}}</span>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入验证码" [(ngModel)]="mineSetMobileSMS">
          </div>
          <div class="weui-cell__ft">
            <button class="weui-vcode-btn"
                    [weui-vcode]="onSendCode"
                    weui-seconds="60"
                    weui-tpl="${num}s"
                    weui-error="重新发送">获取验证码
            </button>
          </div>
        </div>
        <div class="weui-cell">
          <button
            [disabled]="!mineSetMobileSMS"
            class="weui-btn weui-btn_primary"
            [ngClass]="{'weui-btn_disabled': !mineSetMobileSMS}"
            (click)="setMobileCodeClick()"
          >
            下一步
          </button>
        </div>
      </div>
    </weui-mask>
  </div>
</div>

