.setting-paypwd{
  background-color: #F1F1F1;
  min-height: 100vh;
  .weui-dialog-title{
    text-align: center;
    font-size: 1rem;
  }
  .weui-dialog-content{
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    position: relative;
    .c-n{
      display: inline-block;
      height: 14vw;
      width: 14vw;
      line-height: 14vw;
      vertical-align: top;
      border-left: 1px solid #CECECE;
      border-top: 1px solid #CECECE;
      border-bottom: 1px solid #CECECE;
    }
    :last-child{
      border-right: 1px solid #CECECE;
    }
    .password{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border: 0;
    }
  }
  .password{
    margin-top: 1vh;
  }
  .setting-mobile__error{
    color: #F43530;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .setting-mobile-toast{
    .weui-toast {
      height: 4vh;
      line-height: 4vh;
      font-size: 1rem;
      min-height: 0;
      width: auto;
      margin-left: -14vw;
      border-radius: 4px;
      padding: 0 10px;
      top: 90%;
      .weui-icon_toast{
        margin: 0;
      }
    }
  }
}
