<form  #registerForm="ngForm"  class="reg-submit" novalidate>
  <div class="reg-submit-form">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" #mobile="ngModel" placeholder="请输入手机号" weui-input="mobile" weui-required [(ngModel)]="regSubmit.username" name="mobile">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-"></i>
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入验证码" name="smsCode" [(ngModel)]="smsCode">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn"
                  [ngStyle]="{'color':regSubmit.username?'#3CC51F':''}"
                  [disabled]="mobile.invalid"
                  [weui-vcode]="onSendCode"
                  weui-seconds="60"
                  weui-tpl="${num}s后重新获取"
                  weui-error="重新发送">获取验证码</button>
        </div>
      </div>
      <div *ngIf="mobile.touched && mobile.invalid" class="weui-cell" style="padding: 0.5em 0 0 0;">
        <p style="color: #F19170;font-size: 0.8rem;">请输入正确格式的手机号</p>
      </div>
      <div *ngIf="codeError" class="weui-cell" style="padding: 0.5em 0 0 0;">
        <p style="color: #F19170;font-size: 0.8rem;">验证码不正确</p>
      </div>
    </div>
  </div>
  <div class="reg-submit-agree">
    <label class="weui-agree">
      <span class="weui-agree__text">
        注册既代表同意
        <span style="color: #9DC5F2;" (click)="dialogAgreeShow('ios')">服务条款</span> 和
        <span style="color: #9DC5F2;" (click)="dialogAgreeShow('ios')">隐私条款</span>
            </span>
    </label>
  </div>
  <div class="reg-submit-dialog-agree">
    <weui-dialog #agreeDialog [config]="configAgreeDialog"></weui-dialog>
  </div>
  <div class="reg-submit-dialog-pay">
    <app-dialog-pay *ngIf="dialogPayShow" [config]="dialogPayConfig" (dialogPayClick)="onDialogPayClick($event)" (dialogPayDestroy)="onDialogPayClick($event)"></app-dialog-pay>
  </div>
  <div class="reg-submit-btn">
    <button
      type="button"
      class="weui-btn weui-btn_primary"
      (click)="onsubmit()"
      [ngClass]="!(mobile.valid&&smsCode) ?'weui-btn_disabled': ''"
      [disabled]="!(mobile.valid&&smsCode)">注册</button>
  </div>
</form>
