<form  #registerForm="ngForm"  class="reg-submit" (ngSubmit)="onsubmit()" novalidate>
  <div class="reg-submit-form">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" #mobile="ngModel" placeholder="请输入手机号" weui-input="mobile" weui-required [(ngModel)]="submitPhone.phone" name="mobile" >
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-"></i>
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <p *ngIf="mobile.touched && mobile.invalid" style="color: red;font-size: 0.8rem;">请输入正确格式的手机号</p>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__bd">
          <input class="weui-input" type="tel" placeholder="请输入验证码" [(ngModel)]="submitPhone.smsCode" name="smsCode">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn" [ngStyle]="{'color':submitPhone.phone?'#3CC51F':''}" [disabled]="!mobile.invalid" (click)="codeBtnClick()">获取验证码</button>
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <p *ngIf="codeError" style="color: red;font-size: 0.8rem;">验证码不正确</p>
      </div>
    </div>
  </div>
  <div class="reg-submit-agree">
    <label for="weuiAgree" class="weui-agree">
      <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" [(ngModel)]="submitAgree" name="agree">
      <span class="weui-agree__text">
                注册既代表服务条款 和 <a (click)="dialogAgreeShow('ios')">隐私条款</a>
            </span>
    </label>
  </div>
  <div class="reg-submit-dialog-agree">
    <weui-dialog #agreeDialog [config]="configAgreeDialog"></weui-dialog>
  </div>
  <div class="reg-submit-dialog-pay">
    <app-dialog-pay *ngIf="dialogPayShow" [config]="dialogPayConfig" (dialogPayClick)="onDialogPayClick($event)" (dialogPayDestroy)="onDialogPayClick($event)"></app-dialog-pay>
  </div>
  <div class="reg-submit-btn">
    <button
      type="submit"
      class="weui-btn weui-btn_primary"
      [ngClass]="!(mobile.valid&&submitAgree) ?'weui-btn_disabled': ''"
      [disabled]="!(mobile.valid&&submitAgree)">注册</button>
  </div>
</form>
