.registered-submit{
  height: 100vh;
  background: #F1F1F1;
  position: relative;
  .registered-submit-phone{
    padding: 0 4vw;
    margin-top: 2vh;
    input{
      text-indent: 15px;
      height: 50px;
      background: white;
    }
  }
  .registered-submit-vcode{
    padding: 0 4vw;
    margin-top: 2vh;
    .weui-cell_vcode{
      background: white;
    }
    input{
      height: 50px;
    }
    .weui-vcode-btn{
      color: #5E5E5E;
    }
  }
}
