.order-aftsale{
  height: 100vh;
  background-color: #F1F1F1;
  position: relative;
  .order-aftsal-product{
    margin-top: 15px;
    .weui-panel{
      .weui-panel__hd{
        color: #000000;
        font-size: 1rem;
        .weui-cell{
          padding: 0;
        }
      }
    }
  }
  .order-aftsal-select{
    .weui-cells{
      .weui-cell{
        .weui-cell__hd{
          color: #7FB56E;
        }
        .weui-cell__bd{
          padding-left: 15px;
        }
      }
    }
  }
}
