<div class=" order-aftsale" *ngIf="detailsData; else loading">
  <div class="order-aftsale-header">
    <app-header [option]="headerOption"></app-header>
  </div>
  <div class="order-aftsal-product">
    <div class="weui-panel weui-panel_access" style="border-radius: 5px;">
      <weui-infiniteloader [config]="ordAftScrollConfig">
        <div class="weui-panel__hd">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p style="font-size:  0.8rem">订单号：{{detailsData?.data?.sn}}</p>
            </div>
            <div class="weui-cell__ft">
              <span style="font-size:  0.8rem;color: #C4C4C4;">{{detailsData?.data?.createdDate}}</span>
            </div>
          </div>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-cell" style="align-items: unset;" *ngFor="let item of detailsData?.data?.moyaoOrderItemModels; let i = index">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img class="weui-media-box__thumb" style="width: auto;height:10vh;display: block" [src]="item?.goods?.mainImage"
                   alt="">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 1rem;color: #848484;">{{item?.goods?.title}}</p>
              <p style="font-size: 0.8rem;">{{item?.goods?.info}}</p>
              <p style="font-size: 1rem;">￥{{item?.goods?.originalPrice}}</p>
            </div>
            <div class="weui-cell__ft">
              <p>x{{item?.quantity}}</p>
            </div>
          </div>
        </div>
        <div class="weui-panel__ft" style="border-top: 1px solid #F7F7F7">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <span style="color: #848484;">共计数量： {{detailsData?.data?.moyaoOrderItemModels.length}}</span>
              <p class="pull-right" style="color: #848484;">金额：<span style="color: #FF6464;">{{detailsData?.data?.amount}}元</span></p>
            </div>
          </div>
        </div>
      </weui-infiniteloader>
    </div>
  </div>
  <div class="order-aftsal-select">
    <div class="weui-cells">
      <div class="weui-cell"
           [routerLink]="['/mine/order/refund', detailsData?.data?.id, 0, detailsData?.data?.status]">
        <div class="weui-cell__hd">
          <i class="icon iconfont icon-jintuikuan " aria-hidden="true"></i>
        </div>
        <div class="weui-cell__bd">
          <p>仅退款</p>
          <p style="font-size: 0.75rem;color: #E0E0E0;">
            未收到货(包含未签收)，或卖家协商同意前提下
          </p>
        </div>
        <div class="weui-cell__ft">
          <i class="icon iconfont icon-system-moreb"></i>
        </div>
      </div>
      <div class="weui-cell"
           [routerLink]="['/mine/order/return', detailsData?.data?.id, 1, detailsData?.data?.status]">
        <div class="weui-cell__hd">
          <i class="icon iconfont icon-tuihuotuikuan" aria-hidden="true"></i>
        </div>
        <div class="weui-cell__bd">
          <p>退货退款</p>
          <p style="font-size: 0.75rem;color: #E0E0E0;">
            已收到货，需要退换已收到的货物
          </p>
        </div>
        <div class="weui-cell__ft">
          <i class="icon iconfont icon-system-moreb"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
