/* You can add global styles to this file, and also import other style files */
@import '~weui/src/style/weui.less';
@import '~ngx-weui/index';
@import '~font-awesome/less/font-awesome';
@weui-btn-color-primary: #007BFF;
@weui-btn-color-secondary: #6C757D;
@weui-btn-color-success: #28A745;
@weui-btn-color-danger: #DC3545;
@weui-btn-color-warning: #FFC107;
@weui-btn-color-info: #17A2B8;
@weui-btn-color-light: #F8F9FA;
@weui-btn-color-dark: #343A40;
@weui-h1: 1rem;
@weui-h2: 1rem;
.index-loading-mask{
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  .loading{
    color: #3A96FF;
    text-align: center;
    font-size: 0.8rem;
    line-height: 100vh;
  }
}

