<div class="tab-home">
  <div class="tab-user">
    <div class="tab-user-info">
      <p>
        <img *ngIf="tabUserInfo" [src]="tabUserInfo.headImage" alt="">
        <span style="color: #FCE237;margin: 0 15px 0 10px">{{tabUserInfo?.nikeName}}</span>
        <span>{{tabHomeGreetings}}</span>
      </p>
      <p style="font-size: 1rem;margin-top: 10px;letter-spacing: 2px">欢迎登陆邻客店员系统</p>
    </div>
  </div>
  <div class="tab-swiper">
    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let slide of slides" class="swiper-slide" style="margin-right: 0">
          <div class="swiper-wrapper-img" [ngStyle]="{'background-image': 'url('+slide?.img+')'}" [routerLink]="['/product/ad']" [queryParams]="{id:slide.id}"></div>
        </div>
      </div>
      <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
      <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
      <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
    </div>
  </div>
</div>
