<div class="wallet-withdrawal">
  <app-header [option]="headerOption"></app-header>
  <ng-container *ngIf="false">
    <div class="wallet-recharge-input">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__bd">可提现金额</div>
          <div class="weui-cell__ft">
            <span style="color: #FF5E5E;font-size: 1.3rem">￥{{balance}}</span>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">￥</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" [placeholder]="'本次最多转出'+balance+'元'" [(ngModel)]="balanceAmount" (input)="balanceChange()">
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cells__title">
      <span *ngIf="!withdrawalStatus">说明：提现到微信钱包</span>
      <span *ngIf="withdrawalStatus" style="color: red;">输入金额大于可提现余额</span>
    </div>
    <div class="recharge-button">
      <button class="weui-btn weui-btn_primary" [ngClass]="{'weui-btn_disabled': withdrawalBtn}" [disabled]="withdrawalBtn" (click)="dialogPayShow = true">立即提现</button>
    </div>
    <div class="wallet-withdrawal-pay">
      <app-dialog-pay *ngIf="dialogPayShow" [config]="dialogPayConfig" (dialogPayOnchange)="onDialogPayClick($event)" (dialogPayDestroy)="onDialogPayClick($event)"></app-dialog-pay>
    </div>
    <div class="wallet-withdrawal-dialog">
      <weui-dialog #iosWithdrawal [config]="withdrawalConfig"></weui-dialog>
    </div>
  </ng-container>
  <div style="text-align: center;color: #7E7E7E;font-weight: bold;margin-top: 30%">
    <span>功能正在开发中，等待微信审核！</span>
  </div>
</div>

